<div style="padding-right: 15px;" *ngIf="bpObs !== 'XS'">

  <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px;">Dépenses liées à l’agriculture (DA.)*</p>
    <p style="color:rgba(128, 128, 128, 0.5);">(grande saison, y compris l’autoconsommation)</p>
  </div>

  <div class="formRow">
    <p style="display: flex; flex: 2; justify-content: center;" class="enTeteInput1">Types de dépenses</p>
    <p style="display: flex; flex: 1; justify-content: center;" class="enTeteInput1">Montant</p>
    <p style="display: flex; flex: 1; justify-content: center;" class="enTeteInput1">Fournisseur</p>
  </div>

  <div class="formRow" *ngFor="let item of data_value; let i = index">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">{{"DA" + (i< 9 ? ("0"+(i+1)) : i+1) + " - " + item}}</p>
    </div>
    <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
      <mat-form-field class="adresseForm">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ariary</mat-label>
        <input [(ngModel)]="formData.main[item].mantant" type="number" style="text-align: center;" placeholder="1 000"
          matInput [name]="item+'_mt'">
      </mat-form-field>
    </div>
    <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
      <mat-form-field class="adresseForm">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Nom</mat-label>
        <input [(ngModel)]="formData.main[item].fourniseur" type="text" style="text-align: center;"
          placeholder="MADAGASIKARA" matInput [name]="item+'_fs'">
      </mat-form-field>
    </div>
  </div>

  <div class="formRow" *ngFor="let item of autre_liste; let i = index">
    <div style="display: flex; flex: 2; align-items: center;">
      <mat-form-field class="adresseForm" style="margin-right: 20px;margin-left: 0;">
        <mat-label>{{"DA" + ((i+5)< 9 ? ("0"+(i+6)) : i+6) + " - " +"Autre"}}</mat-label>
            <input [(ngModel)]="formData.autre[i].name" type="text" placeholder="Préciser" matInput
              [name]="item.name+'_name'">
      </mat-form-field>
    </div>
    <div style="display: flex; flex: 1; align-content: center;">
      <mat-form-field class="adresseForm" style="margin-left: 10px;">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ariary</mat-label>
        <input [(ngModel)]="formData.autre[i].mantant" type="number" style="text-align: center;" placeholder="1 000"
          matInput [name]="item.name+'_mt'">
      </mat-form-field>
    </div>
    <div style="display: flex; flex: 1; align-items: center;">
      <mat-form-field class="adresseForm">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Nom</mat-label>
        <input [(ngModel)]="formData.autre[i].fourniseur" type="text" placeholder="MADAGASIKARA" matInput
          [name]="item.name+'_fns'">
      </mat-form-field>
    </div>
  </div>

  <div class="formRow" id="id-last-element-for-next-da" style="align-items: center; justify-content: center;">
    <app-default-button [onClick]="onAdd" [preIcon]="'add_circle'" [dlabel]="'Autre'">
    </app-default-button>
  </div>

</div>

<!-- MOBILE -->

<div class="mobile-root" *ngIf="bpObs === 'XS'">

  <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px;">Dépenses liées à l’agriculture (DA.)*</p>
    <p style="color:rgba(128, 128, 128, 0.5);">(grande saison, y compris l’autoconsommation)</p>
  </div>
  <!-- <p style="display: flex; flex: 2; justify-content: center;" class="enTeteInput1">Types de dépenses</p> -->
  <div class="formRow">
    <p style="display: flex; flex: 1; justify-content: center;" class="enTeteInput1">Montant</p>
    <p style="display: flex; flex: 1; justify-content: center;" class="enTeteInput1">Fournisseur</p>
  </div>

  <div class="formColumn" *ngFor="let item of data_value; let i = index">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">{{"DA" + (i< 9 ? ("0"+(i+1)) : i+1) + " - " + item}}</p>
    </div>

    <div class="formCol">
      <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
        <mat-form-field class="adresseForm2">
          <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ariary
          </mat-label>
          <input [(ngModel)]="formData.main[item].mantant" type="number" style="text-align: center;" placeholder="1 000"
            matInput [name]="item+'_mt'">
        </mat-form-field>
      </div>
      <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
        <mat-form-field class="adresseForm2">
          <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Nom</mat-label>
          <input [(ngModel)]="formData.main[item].fourniseur" type="text" style="text-align: center;"
            placeholder="MADAGASIKARA" matInput [name]="item+'_fs'">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="formCol" *ngFor="let item of autre_liste; let i = index">
    <div style="display: flex; flex: 2; align-items: center;">
      <mat-form-field class="adresseForm2">
        <mat-label>{{"DA" + ((i+5)< 9 ? ("0"+(i+7)) : i+7) + " - " +"Autre"}}</mat-label>
            <input [(ngModel)]="formData.autre[i].name" type="text" placeholder="Préciser" matInput
              [name]="item.name+'_name'">
      </mat-form-field>
    </div>

    <div class="formCol">
      <div style="display: flex; flex: 1; align-content: center;">
        <mat-form-field class="adresseForm2">
          <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ariary
          </mat-label>
          <input [(ngModel)]="formData.autre[i].mantant" type="number" style="text-align: center;" placeholder="1 000"
            matInput [name]="item.name+'_mt'">
        </mat-form-field>
      </div>
      <div style="display: flex; flex: 1; align-items: center;">
        <mat-form-field class="adresseForm2">
          <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Nom</mat-label>
          <input [(ngModel)]="formData.autre[i].fourniseur" type="text" placeholder="MADAGASIKARA" matInput
            [name]="item.name+'_fns'">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="formRow" id="id-last-element-for-next-da" style="align-items: center; justify-content: center;">
    <app-default-button [onClick]="onAdd" [preIcon]="'add_circle'" [dlabel]="'Autre'">
    </app-default-button>
  </div>

  <div style="min-height: 50px; min-width: 25px;"></div>

</div>
