<div class="tab-style">
  <div class="tab-button-container">
    <div matRipple [class]="router.url === '/'+route_path.home ? 'tab-button-active':'tab-button'"
      (click)="handleChangePath(route_path.home)">
      <!-- <mat-icon matBadge="O" matBadgeColor="warn">home</mat-icon> -->
      <mat-icon>home</mat-icon>
      <p style="margin: 0;">Home</p>
    </div>
    <div matRipple [class]="router.url === '/'+route_path.listes ? 'tab-button-active':'tab-button'"
      (click)="handleChangePath(route_path.listes)">
      <mat-icon>list</mat-icon>
      <p style="margin: 0;">Listes</p>
    </div>
    <div matRipple [class]="router.url === '/'+route_path.formulaire ? 'tab-button-active':'tab-button'"
      (click)="handleChangePath(route_path.formulaire)">
      <mat-icon>add_circle</mat-icon>
      <p style="margin: 0;">Ajouter</p>
    </div>
    <div matRipple class="tab-button" (click)="handleLogOut()">
      <mat-icon>logout</mat-icon>
      <p style="margin: 0;">Deconn.</p>
    </div>
  </div>
  <div class="state-container">
    <!-- <p *ngIf="IsSyncronising === 0 || IsSyncronising === 1" class="dodStyle" [style]="IsConnected ? 'color: green':'color: red;'">•</p>
    <mat-progress-bar style="width: 25%; margin-right: 16px;" *ngIf="IsSyncronising === 2" mode="indeterminate"></mat-progress-bar>
    <p style="color: white;margin: 0;">{{getStatueText(IsSyncronising)}}</p> -->
  </div>

  <!-- <div class="state-container">
    <p style="color: red; font-size: 50px;margin: 0; margin-right: 5px;">•</p><p style="color: white;margin: 0;">Vous êtes en mode "offline"</p>
  </div> -->
</div>
