.tab-style {
  width: 100%;
  height: 90px;
  background-color: #fe711a;
  position: fixed !important;
  bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0px 0px;
  -webkit-box-shadow: -1px -5px 16px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -1px -5px 16px 0px rgba(0, 0, 0, 0.25);
}
.tab-button-container {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.state-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 25px;
  background-color: black;
}
.tab-button {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-button-active {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 11, 0, 0.137);
}
.dodStyle {
  font-size: 50px;
  margin: 0;
  margin-right: 5px;
}
