<div style="padding-right: 15px;" *ngIf="bpObs !== 'XS'">

    <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px;">EDUCATION ET RESIDENCE</p>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M13 - Avez-vous au moins fait l'école primaire ?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData.primary">
            <mat-radio-button style="margin-right: 15px;" value="Oui">Oui</mat-radio-button>
            <mat-radio-button value="Non">Non</mat-radio-button>
        </mat-radio-group>
        </div>
    </div>

    <div *ngIf="formData.primary === 'Oui'" class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; flex-direction: column; padding-top:10px;">
          <p style="font-size: 16px;">M14 - Quelle est la dernière classe suivie?</p>
          <p style="color: grey;">(Nombre d'années d'études réussies)</p>
        </div>
        <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
            <mat-form-field class="adresseForm" style="margin-left: 10px;">
                <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Année(s)</mat-label>
                <input [(ngModel)]="formData.nombredanner" name="nembredanne" type="number" style="text-align: center;" placeholder="00" matInput>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="formData.primary === 'Oui'" class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M15 - Allez vous encore à l'école?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData.goscool">
            <mat-radio-button style="margin-right: 15px;" value="Oui">Oui</mat-radio-button>
            <mat-radio-button value="Oui">Non</mat-radio-button>
        </mat-radio-group>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M16a - Savez vous lire le malagasy?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
                <mat-label class="orange">Niveau</mat-label>
                <mat-select [(ngModel)]="formData.malagasy">
                  <mat-option value="Bien">Bien</mat-option>
                  <mat-option value="Pas très bien">Pas très bien</mat-option>
                  <mat-option value="Non">Non</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M16b - Savez vous écrire le malagasy?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
                <mat-label class="orange">Niveau</mat-label>
                <mat-select [(ngModel)]="formData.malagasyecrit">
                  <mat-option value="Bien">Bien</mat-option>
                  <mat-option value="Pas très bien">Pas très bien</mat-option>
                  <mat-option value="Non">Non</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M17a - Etes vous résidant dans ce fokontany depuis plus de 6 mois? ?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData.sixmouth">
            <mat-radio-button style="margin-right: 15px;" value="Oui">Oui</mat-radio-button>
            <mat-radio-button id="id-last-element-for-next-educres" value="Non">Non</mat-radio-button>
        </mat-radio-group>
        </div>
    </div>

    <div *ngIf="formData.sixmouth === 'Oui'" class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M17b - Si depuis plus de 6 mois, depuis combien d'années? </p>
        </div>
        <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
            <mat-form-field class="adresseForm" style="margin-left: 10px;">
                <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Année(s)</mat-label>
                <input [(ngModel)]="formData.annee" name="annee" type="number" style="text-align: center;" placeholder="00" matInput>
            </mat-form-field>
        </div>
    </div>

</div>

<!-- Mobile version  -->

<div *ngIf="bpObs === 'XS'">

  <div class="enqueteColumn">
  <p class="enTeteInput" style="margin-right: 10px;">EDUCATION ET RESIDENCE</p>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M13 - Avez-vous au moins fait l'école primaire ?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-radio-group [(ngModel)]="formData.primary">
          <mat-radio-button value="Oui" style="margin-right: 8px;">Oui</mat-radio-button>
          <mat-radio-button value="Non">Non</mat-radio-button>
      </mat-radio-group>
      </div>
  </div>

  <div *ngIf="formData.primary === 'Oui'" class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; flex-direction: column; padding-top:10px;">
        <p style="font-size: 16px;">M14 - Quelle est la dernière classe suivie?</p>
        <p style="color: grey;">(Nombre d'années d'études réussies)</p>
      </div>
      <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
          <mat-form-field class="adresseForm1">
              <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Année(s)</mat-label>
              <input [(ngModel)]="formData.nombredanner" name="nembredanne" type="number" style="text-align: center;" placeholder="00" matInput>
          </mat-form-field>
      </div>
  </div>

  <div *ngIf="formData.primary === 'Oui'" class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M15 - Allez vous encore à l'école?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-radio-group [(ngModel)]="formData.goscool">
          <mat-radio-button value="Oui" style="margin-right: 8px;">Oui</mat-radio-button>
          <mat-radio-button value="Oui">Non</mat-radio-button>
      </mat-radio-group>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M16a - Savez vous lire le malagasy?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
          <mat-form-field style="width: 100%; font-size: 16px;">
              <mat-label class="orange">Niveau</mat-label>
              <mat-select [(ngModel)]="formData.malagasy">
                <mat-option value="Bien">Bien</mat-option>
                <mat-option value="Pas très bien">Pas très bien</mat-option>
                <mat-option value="Non">Non</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M16b - Savez vous écrire le malagasy?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
          <mat-form-field style="width: 100%; font-size: 16px;">
              <mat-label class="orange">Niveau</mat-label>
              <mat-select [(ngModel)]="formData.malagasyecrit">
                <mat-option value="Bien">Bien</mat-option>
                <mat-option value="Pas très bien">Pas très bien</mat-option>
                <mat-option value="Non">Non</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M17a - Etes vous résidant dans ce fokontany depuis plus de 6 mois? ?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-radio-group [(ngModel)]="formData.sixmouth">
          <mat-radio-button value="Oui" style="margin-right: 8px;">Oui</mat-radio-button>
          <mat-radio-button id="id-last-element-for-next-educres" value="Non">Non</mat-radio-button>
      </mat-radio-group>
      </div>
  </div>

  <div *ngIf="formData.sixmouth === 'Oui'" class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M17b - Si depuis plus de 6 mois, depuis combien d'années? </p>
      </div>
      <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
          <mat-form-field class="adresseForm1">
              <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Année(s)</mat-label>
              <input [(ngModel)]="formData.annee" name="annee" type="number" style="text-align: center;" placeholder="00" matInput>
          </mat-form-field>
      </div>
  </div>

  <div style="min-height: 50px; min-width: 25px;"></div>

</div>


