<mat-form-field appearance="outline" style="width: 100%;">
  <mat-label>{{label}}</mat-label>
  <mat-select (valueChange)="onValueChangeFun($event)">
    <mat-option *ngFor="let item of options" [value]="item.id">{{item.name}}</mat-option>
  </mat-select>
</mat-form-field>
