<div style="padding-right: 15px;" *ngIf="bpObs !== 'XS'">
  <div class="formRow" style="align-items: center;">
    <p class="enTeteInput" style="margin-right: 10px;">H0 - Type de maison : </p>
    <mat-form-field style="width: 80%; font-size: 16px;">
      <mat-select [(ngModel)]="formData.housetype" name="maisonindividuelle">
        <mat-option value="Maison individuelle">Maison individuelle</mat-option>
        <mat-option value="Appartement">Appartement</mat-option>
        <mat-option value="Chambre, pièce">Chambre, pièce</mat-option>
        <mat-option value="Partie d'une pièce">Partie d'une pièce</mat-option>
        <mat-option value="Sans habitation (dehors / dans la rue)">Sans habitation (dehors / dans la rue)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="formRow">
    <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;">
      <mat-label class="orange">H1 - Mur extérieur*</mat-label>
      <mat-select [(ngModel)]="vmur" name="murexterieur" (valueChange)="onValueChange('mur',$event)">
        <mat-option value="Ecorce, feuille, tige">Ecorce, feuille, tige</mat-option>
        <mat-option value="Terre battue, torchis, brique 'tany'">Terre battue, torchis, brique "tany"</mat-option>
        <mat-option value="Tôle (tôle ondulée, fût, bidon,…)">Tôle (tôle ondulée, fût, bidon,…)</mat-option>
        <mat-option value="Planche, contreplaqué, isorel">Planche, contreplaqué, isorel</mat-option>
        <mat-option value="Maison en dur: pierre, parpaing, brique, fibro-ciments">Maison en dur: pierre, parpaing,
          brique, fibro-ciments</mat-option>
        <mat-option value="au">Autre (Préciser)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%; font-size: 16px;margin-left: 25px;">
      <mat-label class="orange">H2 - Plafond*</mat-label>
      <mat-select [(ngModel)]="vplaf" name="plafond" (valueChange)="onValueChange('plaf',$event)">
        <mat-option value="Ecorce, feuille, tige">Ecorce, feuille, tige</mat-option>
        <mat-option value="Terre battue, torchis">Terre battue, torchis</mat-option>
        <mat-option value="Planche, contreplaqué, isorel">Planche, contreplaqué, isorel</mat-option>
        <mat-option value="Pierre, brique, Béton, etc.">Pierre, brique, Béton, etc.</mat-option>
        <mat-option value="Natte">Natte</mat-option>
        <mat-option value="Pas de plafond">Pas de plafond</mat-option>
        <mat-option value="au">Autre (Préciser)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="formRow" style="margin-top: -25px;">
    <mat-form-field *ngIf="showmur" style="width: 100%; font-size: 16px;margin-right: 25px;">
      <input [(ngModel)]="formData.extwall.lib" placeholder="Autre Mur extérieur" matInput type="text" name="APMurExt">
    </mat-form-field>
    <div *ngIf="!showmur" style="width: 100%;margin-right: 25px;"></div>

    <mat-form-field *ngIf="shoplaf" style="width: 100%; font-size: 16px;margin-left: 25px;">
      <input [(ngModel)]="formData.plaf.lib" placeholder="Autre Plafond" matInput type="text" name="APPlafond">
    </mat-form-field>
    <div *ngIf="!shoplaf" style="width: 100%;margin-left: 25px;"></div>
  </div>

  <div class="formRow" style="margin-bottom: 25px;">
    <div style="width: 100%; font-size: 16px;margin-right: 25px;">
      <label class="orange">H3 - Nombre de pièces*</label>
      <form>
        <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px; margin-bottom: 25px;">
          <mat-label>Donner le nombre de pièces habitées</mat-label>
          <input [(ngModel)]="formData.npiech" matInput #message type="number" max="99" min="01" name="nombre-de-piece">
          <mat-hint><strong>Ne pas inclure cuisine, salle d'eau, douche, WC, couloir, véranda, pièces de commerce,
              pièces de travail, sompitra, etc.)</strong> </mat-hint>
        </mat-form-field>
      </form>

      <form>
        <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;">
          <mat-label>Combien, parmi ces pièces, utilisées pour dormir</mat-label>
          <input [(ngModel)]="formData.npiecedor" matInput #message type="number" max="99" min="01"
            name="pieceutiliser">
        </mat-form-field>
      </form>
    </div>

    <div style="width: 100%; font-size: 16px;margin-left: 25px;">
      <label class="orange">H4 - Surface habitée m²*</label><br>
      <label>Surface des pièces utilisée pour dormir</label>
      <form>
        <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;">
          <mat-label>P1: L*l =</mat-label>
          <input [(ngModel)]="formData.p1" matInput #message type="number" max="99" min="01" name="p1inpur">
        </mat-form-field>
      </form>
      <form>
        <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;">
          <mat-label>P2: L*l =</mat-label>
          <input [(ngModel)]="formData.p2" matInput #message type="number" max="99" min="01" name="p2inpur">
        </mat-form-field>
      </form>
      <form>
        <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;">
          <mat-label>P3: L*l =</mat-label>
          <input [(ngModel)]="formData.p3" matInput #message type="number" max="99" min="01" name="p3inpur">
        </mat-form-field>
      </form>
      <form>
        <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;">
          <mat-label>P4: L*l =</mat-label>
          <input [(ngModel)]="formData.p4" matInput #message type="number" max="99" min="01" name="p4inpur">
        </mat-form-field>
      </form>

    </div>
  </div>

  <div class="formRow">
    <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;">
      <mat-label class="orange">H5 - Plancher*</mat-label>
      <mat-select [(ngModel)]="vlanch" name="plancher" (valueChange)="onValueChange('planch',$event)">
        <mat-option value="Terre battue avec ou sans natte">Terre battue avec ou sans natte</mat-option>
        <mat-option value="Bois">Bois</mat-option>
        <mat-option value="Pierre, brique, ciment, beton, fibro-ciment"> Pierre, brique, ciment, beton, fibro-ciment
        </mat-option>
        <mat-option value="au">Autre (Préciser)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%; font-size: 16px;margin-left: 25px;">
      <mat-label class="orange">H6 - Electricité*</mat-label>
      <mat-select [(ngModel)]="velec" name="electricite" (valueChange)="onValueChange('elec',$event)">
        <mat-option value="Electricité">Electricité</mat-option>
        <mat-option value="Petrole">Petrole</mat-option>
        <mat-option value="Bougie">Bougie</mat-option>
        <mat-option value="Jabora">Jabora</mat-option>
        <mat-option value="au">Autre (Préciser)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="formRow" style="margin-top: -25px;">
    <mat-form-field *ngIf="showplanch" style="width: 100%; font-size: 16px;margin-right: 25px;">
      <input [(ngModel)]="formData.plancer.lib" placeholder="Autre Plancher" matInput type="text" name="APPlancher">
    </mat-form-field>
    <div *ngIf="!showplanch" style="width: 100%;margin-right: 25px;"></div>

    <mat-form-field *ngIf="showelec" style="width: 100%; font-size: 16px;margin-left: 25px;">
      <input [(ngModel)]="formData.elect.lib" placeholder="Autre Electricité" matInput type="text" name="APElectricité">
    </mat-form-field>
    <div *ngIf="!showelec" style="width: 100%;margin-left: 25px;"></div>
  </div>

  <div class="formRow">
    <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;">
      <mat-label class="orange">H7 - Eau*</mat-label>
      <mat-select [(ngModel)]="veau" name="eau" (valueChange)="onValueChange('eau',$event)">
        <mat-option value="Robinet"> Robinet</mat-option>
        <mat-option value="Puits à pompe/forage">Puits à pompe/forage</mat-option>
        <mat-option value="Puits creuse">Puits creuse</mat-option>
        <mat-option value="Eau de source">Eau de source</mat-option>
        <mat-option value="Eau de pluie">Eau de pluie</mat-option>
        <mat-option value="Camion citerne">Camion citerne</mat-option>
        <mat-option value="Eau de surface (rivière, lac, barrage)">Eau de surface (rivière, lac, barrage)</mat-option>
        <mat-option value="Achat d'eau">Achat d'eau</mat-option>
        <mat-option value="au">Autre (Préciser)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%; font-size: 16px;margin-left: 25px;" id="id-last-element-for-next-ch">
      <mat-label class="orange" id="id-last-element-for-next-ch">H8 - Toilette*</mat-label>
      <mat-select [(ngModel)]="vtoil" name="toilette" (valueChange)="onValueChange('toil',$event)">
        <mat-option value="Chasse d'eau">Chasse d'eau</mat-option>
        <mat-option value="Latrine à fosse">Latrine à fosse</mat-option>
        <mat-option value="Toilette à compostage">Toilette à compostage</mat-option>
        <mat-option value="Seau">Seau</mat-option>
        <mat-option value="Toilette suspendue"> Toilette suspendue</mat-option>
        <mat-option value="Pas de WC, dans la nature">Pas de WC, dans la nature</mat-option>
        <mat-option value="au">Autre (Préciser)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="formRow" style="margin-top: -25px;">
    <mat-form-field *ngIf="showeau" style="width: 100%; font-size: 16px;margin-right: 25px;">
      <input [(ngModel)]="formData.eau.lib" placeholder="Autre Eau" matInput type="text" name="APEau">
    </mat-form-field>
    <div *ngIf="!showeau" style="width: 100%;margin-right: 25px;"></div>

    <mat-form-field *ngIf="showtoil" style="width: 100%; font-size: 16px;margin-left: 25px;">
      <input [(ngModel)]="formData.toilet.lib" placeholder="Autre Toilette" matInput type="text" name="APToilette">
    </mat-form-field>
    <div *ngIf="!showtoil" style="width: 100%;margin-left: 25px;"></div>
  </div>
</div>

<!-- MOBILE -->

<div class="mobile-root" *ngIf="bpObs === 'XS'">

  <p class="enTeteInput">H0 - Type de maison : </p>
  <mat-form-field style="width: 100%; font-size: 16px;">
    <mat-select [(ngModel)]="formData.housetype" name="maisonindividuelle">
      <mat-option value="Maison individuelle">Maison individuelle</mat-option>
      <mat-option value="Appartement">Appartement</mat-option>
      <mat-option value="Chambre, pièce">Chambre, pièce</mat-option>
      <mat-option value="Partie d'une pièce">Partie d'une pièce</mat-option>
      <mat-option value="Sans habitation (dehors / dans la rue)">Sans habitation (dehors / dans la rue)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%; font-size: 16px;">
    <mat-label class="orange">H1 - Mur extérieur*</mat-label>
    <mat-select [(ngModel)]="vmur" name="murexterieur" (valueChange)="onValueChange('mur',$event)">
      <mat-option value="Ecorce, feuille, tige">Ecorce, feuille, tige</mat-option>
      <mat-option value="Terre battue, torchis, brique 'tany'">Terre battue, torchis, brique "tany"</mat-option>
      <mat-option value="Tôle (tôle ondulée, fût, bidon,…)">Tôle (tôle ondulée, fût, bidon,…)</mat-option>
      <mat-option value="Planche, contreplaqué, isorel">Planche, contreplaqué, isorel</mat-option>
      <mat-option value="Maison en dur: pierre, parpaing, brique, fibro-ciments">Maison en dur: pierre, parpaing,
        brique, fibro-ciments</mat-option>
      <mat-option value="au">Autre (Préciser)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showmur" style="width: 100%; font-size: 16px;">
    <input [(ngModel)]="formData.extwall.lib" placeholder="Autre Mur extérieur" matInput type="text" name="APMurExt">
  </mat-form-field>
  <div *ngIf="!showmur" style="width: 100%;"></div>


  <mat-form-field style="width: 100%; font-size: 16px;">
    <mat-label class="orange">H2 - Plafond*</mat-label>
    <mat-select [(ngModel)]="vplaf" name="plafond" (valueChange)="onValueChange('plaf',$event)">
      <mat-option value="Ecorce, feuille, tige">Ecorce, feuille, tige</mat-option>
      <mat-option value="Terre battue, torchis">Terre battue, torchis</mat-option>
      <mat-option value="Planche, contreplaqué, isorel">Planche, contreplaqué, isorel</mat-option>
      <mat-option value="Pierre, brique, Béton, etc.">Pierre, brique, Béton, etc.</mat-option>
      <mat-option value="Natte">Natte</mat-option>
      <mat-option value="Pas de plafond">Pas de plafond</mat-option>
      <mat-option value="au">Autre (Préciser)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="shoplaf" style="width: 100%; font-size: 16px;">
    <input [(ngModel)]="formData.plaf.lib" placeholder="Autre Plafond" matInput type="text" name="APPlafond">
  </mat-form-field>
  <div *ngIf="!shoplaf" style="width: 100%;"></div>

  <div style="width: 100%; font-size: 16px;">
    <label class="orange">H3 - Nombre de pièces*</label>
    <form>
      <mat-form-field style="width: 100%; font-size: 16px;margin-bottom: 25px;">
        <mat-label>Donner le nombre de pièces habitées</mat-label>
        <input [(ngModel)]="formData.npiech" matInput #message type="number" max="99" min="01" name="nombre-de-piece">
        <mat-hint><strong>Ne pas inclure cuisine, salle d'eau, douche, WC, couloir, véranda, pièces de commerce,
            pièces de travail, sompitra, etc.)</strong> </mat-hint>
      </mat-form-field>
    </form>

    <form>
      <mat-form-field style="width: 100%; font-size: 16px;">
        <mat-label>Combien, parmi ces pièces, utilisées pour dormir</mat-label>
        <input [(ngModel)]="formData.npiecedor" matInput #message type="number" max="99" min="01" name="pieceutiliser">
      </mat-form-field>
    </form>
  </div>

  <div style="width: 100%; font-size: 16px;">
    <label class="orange">H4 - Surface habitée m²*</label><br>
    <label>Surface des pièces utilisée pour dormir</label>
    <form>
      <mat-form-field style="width: 100%; font-size: 16px;">
        <mat-label>P1: L*l =</mat-label>
        <input [(ngModel)]="formData.p1" matInput #message type="number" max="99" min="01" name="p1inpur">
      </mat-form-field>
    </form>
    <form>
      <mat-form-field style="width: 100%; font-size: 16px;">
        <mat-label>P2: L*l =</mat-label>
        <input [(ngModel)]="formData.p2" matInput #message type="number" max="99" min="01" name="p2inpur">
      </mat-form-field>
    </form>
    <form>
      <mat-form-field style="width: 100%; font-size: 16px;">
        <mat-label>P3: L*l =</mat-label>
        <input [(ngModel)]="formData.p3" matInput #message type="number" max="99" min="01" name="p3inpur">
      </mat-form-field>
    </form>
    <form>
      <mat-form-field style="width: 100%; font-size: 16px;">
        <mat-label>P4: L*l =</mat-label>
        <input [(ngModel)]="formData.p4" matInput #message type="number" max="99" min="01" name="p4inpur">
      </mat-form-field>
    </form>
  </div>

  <mat-form-field style="width: 100%; font-size: 16px;">
    <mat-label class="orange">H5 - Plancher*</mat-label>
    <mat-select [(ngModel)]="vlanch" name="plancher" (valueChange)="onValueChange('planch',$event)">
      <mat-option value="Terre battue avec ou sans natte">Terre battue avec ou sans natte</mat-option>
      <mat-option value="Bois">Bois</mat-option>
      <mat-option value="Pierre, brique, ciment, beton, fibro-ciment"> Pierre, brique, ciment, beton, fibro-ciment
      </mat-option>
      <mat-option value="au">Autre (Préciser)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showplanch" style="width: 100%; font-size: 16px;">
    <input [(ngModel)]="formData.plancer.lib" placeholder="Autre Plancher" matInput type="text" name="APPlancher">
  </mat-form-field>
  <div *ngIf="!showplanch" style="width: 100%;"></div>

  <mat-form-field style="width: 100%; font-size: 16px;">
    <mat-label class="orange">H6 - Electricité*</mat-label>
    <mat-select [(ngModel)]="velec" name="electricite" (valueChange)="onValueChange('elec',$event)">
      <mat-option value="Electricité">Electricité</mat-option>
      <mat-option value="Petrole">Petrole</mat-option>
      <mat-option value="Bougie">Bougie</mat-option>
      <mat-option value="Jabora">Jabora</mat-option>
      <mat-option value="au">Autre (Préciser)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showelec" style="width: 100%; font-size: 16px;">
    <input [(ngModel)]="formData.elect.lib" placeholder="Autre Electricité" matInput type="text" name="APElectricité">
  </mat-form-field>
  <div *ngIf="!showelec" style="width: 100%;"></div>

  <mat-form-field style="width: 100%; font-size: 16px;">
    <mat-label class="orange">H7 - Eau*</mat-label>
    <mat-select [(ngModel)]="veau" name="eau" (valueChange)="onValueChange('eau',$event)">
      <mat-option value="Robinet"> Robinet</mat-option>
      <mat-option value="Puits à pompe/forage">Puits à pompe/forage</mat-option>
      <mat-option value="Puits creuse">Puits creuse</mat-option>
      <mat-option value="Eau de source">Eau de source</mat-option>
      <mat-option value="Eau de pluie">Eau de pluie</mat-option>
      <mat-option value="Camion citerne">Camion citerne</mat-option>
      <mat-option value="Eau de surface (rivière, lac, barrage)">Eau de surface (rivière, lac, barrage)</mat-option>
      <mat-option value="Achat d'eau">Achat d'eau</mat-option>
      <mat-option value="au">Autre (Préciser)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showeau" style="width: 100%; font-size: 16px;">
    <input [(ngModel)]="formData.eau.lib" placeholder="Autre Eau" matInput type="text" name="APEau">
  </mat-form-field>
  <div *ngIf="!showeau" style="width: 100%;"></div>

  <mat-form-field style="width: 100%; font-size: 16px;" id="id-last-element-for-next-ch">
    <mat-label class="orange">H8 - Toilette*</mat-label>
    <mat-select [(ngModel)]="vtoil" name="toilette" (valueChange)="onValueChange('toil',$event)">
      <mat-option value="Chasse d'eau">Chasse d'eau</mat-option>
      <mat-option value="Latrine à fosse">Latrine à fosse</mat-option>
      <mat-option value="Toilette à compostage">Toilette à compostage</mat-option>
      <mat-option value="Seau">Seau</mat-option>
      <mat-option value="Toilette suspendue"> Toilette suspendue</mat-option>
      <mat-option value="Pas de WC, dans la nature">Pas de WC, dans la nature</mat-option>
      <mat-option value="au">Autre (Préciser)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showtoil" style="width: 100%; font-size: 16px;">
    <input [(ngModel)]="formData.toilet.lib" placeholder="Autre Toilette" matInput type="text" name="APToilette">
  </mat-form-field>
  <div *ngIf="!showtoil" style="width: 100%;"></div>

  <div style="min-height: 50px; min-width: 25px;"></div>
</div>
