<div class="footer">
    <div style="margin-bottom: 1px;">
        <img id="hover" style="width: 30px; margin-right: 5px;" src="../../../assets/images/web.svg"/>
        <img id="hover" style="width: 30px; margin-left: 5px; margin-right: 10px;" src="../../../assets/images/fb.svg"/>
        <img id="hover" style="width: 30px; margin-left: 5px;" src="../../../assets/images/wa.svg"/>
    </div>

    <div class="footerText">
        <p class="footerLink" style="text-align: center; font-size: 12px;">
            menageid.mg
        </p>
        <p style="text-align: center; font-size: 12px;">
            ©2021 RedStone Madagascar | All Rights Reserved.
        </p>
    </div>

</div>
