.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: 130px;
}

.footerText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLink{
    margin: 0;
    margin-left: 10px;
    font-weight: 450;
    letter-spacing: 10px;
}

#hover{
    opacity: 0.3;
}

#hover:hover{
    opacity: 0.8;
}
