<div style="padding-right: 15px;" *ngIf="bpObs !== 'XS'">

  <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
    <div class="imagecontainer" style="background-image: url({{pictureImage}});">
      <div class="imageIdM" matRipple (click)="onPictureClick(inputfile)">
        <mat-icon *ngIf="!fileUploaded" class="insertImageIdM">insert_photo</mat-icon>
        <p class="imageIdMTexte" >{{fileUploaded ? "Modifier Photo" : "Ajouter une photo"}}</p>
        <input #inputfile type="file" (change)="onpictureChange($event)" style="display: none" />
      </div>
    </div>
  </div>

  <p class="enTeteInput">Identité :</p>
  <mat-form-field class="adresseForm1" appearance="outline">
    <mat-label>Nom</mat-label>
    <input [(ngModel)]="formData.nom" style="text-transform: uppercase;" matInput>
  </mat-form-field>

  <mat-form-field class="adresseForm" appearance="outline">
    <mat-label>Prénom(s)</mat-label>
    <input [(ngModel)]="formData.prenom" style="text-transform: capitalize;" matInput>
  </mat-form-field>

  <mat-form-field class="adresseForm" appearance="outline">
    <mat-label>Surom</mat-label>
    <input [(ngModel)]="formData.surnom" style="text-transform: capitalize;" matInput>
  </mat-form-field>

  <div class="formRow">
    <mat-form-field class="adresseForm" style="width: 100%;" appearance="outline">
      <mat-label>CIN chef de ménage</mat-label>
      <input [(ngModel)]="formData.cin" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="12" placeholder="999-999-999-999" matInput>
    </mat-form-field>

    <mat-form-field class="adresseForm" style="width: 80%;margin-left: 25px;" appearance="outline">
      <mat-label>Délivré le</mat-label>
      <input [(ngModel)]="formData.datedelcin" type="date" matInput>
    </mat-form-field>
  </div>

  <div class="formRow">
    <mat-form-field class="adresseForm" style="width: 100%;" appearance="outline">
      <mat-label>CIN conjoint du chef de ménage</mat-label>
      <input [(ngModel)]="formData.cincon" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="12" placeholder="999-999-999-999" matInput>
    </mat-form-field>

    <mat-form-field class="adresseForm" style="width: 80%;margin-left: 25px;" appearance="outline">
      <mat-label>Délivré le</mat-label>
      <input [(ngModel)]="formData.datedelcincon" type="date" matInput>
    </mat-form-field>
  </div>
  <div class="formRow"
    style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <span style="margin-right: 16px; font-size: 16px;">Chef de menage: </span>
    <mat-checkbox id="id-last-element-for-next-id" style="font-size: 16px;" [(ngModel)]="formData.cdfm">{{ formData.cdfm ? 'Oui' : 'Non'}}</mat-checkbox>
  </div>
</div>

<!-- MOBILE -->

<div class="mobile-root" *ngIf="bpObs === 'XS'">
  <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
    <div class="imagecontainer" style="background-image: url({{pictureImage}});">
      <div class="imageIdM" matRipple (click)="onPictureClick(inputfile)">
        <mat-icon *ngIf="!fileUploaded" class="insertImageIdM">insert_photo</mat-icon>
        <p class="imageIdMTexte" >{{fileUploaded ? "Modifier Photo" : "Ajouter une photo"}}</p>
        <input #inputfile type="file" (change)="onpictureChange($event)" style="display: none" />
      </div>
    </div>
  </div>

  <p class="enTeteInput">Identité :</p>
  <mat-form-field class="adresseForm1" appearance="outline">
    <mat-label>Nom</mat-label>
    <input [(ngModel)]="formData.nom" style="text-transform: uppercase;" matInput>
  </mat-form-field>

  <mat-form-field class="adresseForm" appearance="outline">
    <mat-label>Prénom(s)</mat-label>
    <input [(ngModel)]="formData.prenom" style="text-transform: capitalize;" matInput>
  </mat-form-field>

  <mat-form-field class="adresseForm" appearance="outline">
    <mat-label>Surom</mat-label>
    <input [(ngModel)]="formData.surnom" style="text-transform: capitalize;" matInput>
  </mat-form-field>

  <div class="formRow3">
    <mat-form-field class="adresseForm" appearance="outline">
      <mat-label>CIN chef de ménage</mat-label>
      <input [(ngModel)]="formData.cin" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="12" placeholder="999-999-999-999" matInput>
    </mat-form-field>

    <mat-form-field class="adresseForm" style="margin-top: -20px;" appearance="outline">
      <mat-label>Délivré le</mat-label>
      <input [(ngModel)]="formData.datedelcin" type="date" matInput>
    </mat-form-field>
  </div>

  <div class="formRow3" >
    <mat-form-field class="adresseForm" appearance="outline">
      <mat-label>CIN conjoint du chef de ménage</mat-label>
      <input [(ngModel)]="formData.cincon" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="12" placeholder="999-999-999-999" matInput>
    </mat-form-field>

    <mat-form-field class="adresseForm" style="margin-top: -20px;" appearance="outline">
      <mat-label>Délivré le</mat-label>
      <input [(ngModel)]="formData.datedelcincon" type="date" matInput>
    </mat-form-field>
  </div>
  <div class="formRow" #id_last_element_for_next_id (click)="testClick(id_last_element_for_next_id)"
    style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <span style="margin-right: 16px; font-size: 16px;">Chef de menage: </span>
    <mat-checkbox id="id-last-element-for-next-id" style="font-size: 16px;" [(ngModel)]="formData.cdfm">{{ formData.cdfm ? 'Oui' : 'Non'}}</mat-checkbox>
  </div>

  <div style="min-height: 50px; min-width: 25px;"></div>

</div>
