.enqueteurIdContainer {
  display: flex;
  padding-left: 25px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  /* background-color: rgb(115, 255, 0); */
}

.imagecontainer {
  width: 180px;
  height: 180px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fe711a;
  border-radius: 5px;
}

.imageIdM {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.imageIdM:hover {
  background-color: #fe711a18;
}

.insertImageIdM {
  color: #fe711a;
}

.imageIdMTexte {
  display: flex;
  font-size: 16px;
  color: #fe711a;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fe711a;
  border-radius: 50px;
}

.enqueteColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.stepperName {
  color: #fe711a;
  font-size: 22px;
  font-weight: 500;
}

.stepperNameInt {
  color: #ffffff;
  font-size: 18px;
  background-color: #fe711a;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  margin-right: 15px;
}

.enTeteInput {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 450;
  opacity: 0.7;
  color: #fe711a;
}

.outlineApparence1 {
  margin: 0;
  padding: 0;
}

.outlineApparence {
  margin: 0;
  padding: 0;
  margin-top: -18px;
}

.formRow {
  display: flex;
  flex-direction: row;
}

.nomPrenom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttonNextCa {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.buttonNexta {
  background-color: #fe711a;
  color: white;
  width: 150px;
  margin-right: 15px;
}

::ng-deep.mat-input-element {
  color: grey !important;
}

::ng-deep.mat-form-field-label {
  color: grey !important;
}

::ng-deep.mat-focused .mat-input-element {
  color: grey !important;
}

::ng-deep.mat-focused .mat-form-field-label {
  color: grey !important;
}

::ng-deep.mat-form-field-outline {
  background-color: white !important;
  border-radius: 5px;
}

::ng-deep.mat-focused .mat-form-field-outline {
  color: #fe711a !important;
}

.adresseForm1 {
  font-size: 16px;
  width: 100%;
}

.adresseForm {
  font-size: 16px;
  width: 100%;
  margin-top: -10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #fe711a !important;
}

.mobile-root {
  width: 100%;
  height: 100vh;
}

.formRow3 {
  display: flex;
  flex: 1;
  width: 100% !important;
  flex-direction: column;
}
