<!-- [style]="router.url === '/'+route_path.home ? '' : 'background-color: grey;'" -->
<div *ngIf="router.url !== '/'+route_path.login" class="header" >
    <img class="logoImage" (click)="handleHome()" src="../../../assets/images/logoLine1.svg">

    <div class="right">
        <!-- <p [class]="router.url === '/'+route_path.home ? 'selecledLink':'rightText'" (click)="handleHome()">Accueil</p>
        <p [class]="router.url === '/'+route_path.listes ? 'selecledLink':'rightText'" (click)="handleListes()">Listes</p>
        <p [class]="router.url === '/'+route_path.formulaire ? 'selecledLink':'rightText'" style="margin-right: 150px;" (click)="handleOnAdd()">+ Ajouter</p> -->
        <p [class]="'selecledLink'" *ngIf="router.url === '/'+route_path.listes" style="margin-right: 150px;" (click)="handleOnAdd()">+ Ajouter</p>

        <div class="logout" (click)="handleLogOut()">
        <p class="rightTextD">Déconnexion</p>
        <mat-icon class="rightTextL" style="margin-right: 50px;">logout</mat-icon>
        </div>

    </div>

</div>
