.header {
  background-color: grey;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  top: 0 !important;
  position: fixed !important;
  z-index: 999;
  box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.36);
}

.logoImage {
  height: 45px;
  margin-left: 50px;
  padding-top: 10px;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 32px;
  padding-top: 15px;
  width: 100%;
}

.rightText {
  font-size: 17px;
  color: white;
  opacity: 0.4;
  margin-right: 45px;
  cursor: pointer;
}

.rightText:hover {
  font-size: 17px;
  color: white;
  opacity: 1;
  margin-right: 45px;
  cursor: pointer;
}

.selecledLink {
  font-size: 17px;
  color: white;
  opacity: 1;
  margin-right: 45px;
  cursor: pointer;
}

.rightTextD {
  font-size: 17px;
  margin-right: 45px;
  cursor: pointer;
}

.rightTextL {
  height: 17px;
  margin-right: 15px;
  cursor: pointer;
  margin-left: -35px;
  margin-bottom: 16px;
}

.logout {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
  opacity: 0.4;
}

.logout:hover {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
  opacity: 1;
}
