<div style="padding-right: 15px;" *ngIf="bpObs !== 'XS'">

  <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px; margin-bottom: 25px;">Sources de revenus (SR.) et possession de
      terres (PT.)*</p>
  </div>

  <p class="enTeteInput1">Sources de revenus :</p>
  <div class="formRow" *ngFor="let item of sr_list; let i = index">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">{{ "SR" + (i< 9 ? ("0"+(i+1)) : i+1) + " - " + item}}</p>
    </div>
    <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
        <mat-label class="orange">Source</mat-label>
        <mat-select [(ngModel)]="formData.sr[item]">
          <mat-option value="Principale">Principale</mat-option>
          <mat-option value="Secondaire">Secondaire</mat-option>
          <mat-option value="Tertiaire">Tertiaire</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="formRow">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">SR10 - Quantité de céréales moyennes récoltées en année de référence (sacs de 50kg) ?
      </p>
    </div>
    <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
      <mat-form-field class="adresseForm" style="margin-left: 10px;">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Quantité
        </mat-label>
        <input [(ngModel)]="formData.qcmrar" type="number" style="text-align: center;" placeholder="00" matInput
          name="qcmrar">
      </mat-form-field>
    </div>
  </div>

  <p class="enTeteInput1">Possession de terres :</p>
  <div class="formRow" *ngFor="let item of pt_list; let i = index">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">{{"PT" + (i< 9 ? ("0"+(i+1)) : i+1) + " - " + item}}</p>
    </div>
    <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
      <mat-form-field class="adresseForm" style="margin-left: 10px;">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ha.</mat-label>
        <input [(ngModel)]="formData.pt[item]" type="number" style="text-align: center;" placeholder="00" matInput
          [name]="item+'_surf'">
      </mat-form-field>
    </div>
  </div>

  <div class="formRow">
    <div style="display: flex; flex: 2; align-items: center;">
      <mat-form-field class="adresseForm" style="margin-right: 20px;">
        <mat-label>PT04 - Type de culture 1</mat-label>
        <input [(ngModel)]="formData.tc1.type" type="text" placeholder="Préciser" matInput name="tc1t">
      </mat-form-field>
    </div>
    <div style="display: flex; flex: 1; align-content: center;">
      <mat-form-field class="adresseForm" style="margin-left: 10px;">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ha.</mat-label>
        <input [(ngModel)]="formData.tc1.qte" type="number" style="text-align: center;" placeholder="00" matInput
          name="tc1q">
      </mat-form-field>
    </div>
  </div>

  <div class="formRow">
    <div style="display: flex; flex: 2; align-items: center;">
      <mat-form-field class="adresseForm" style="margin-right: 20px;">
        <mat-label>PT05 - Type de culture 2</mat-label>
        <input [(ngModel)]="formData.tc2.type" type="text" placeholder="Préciser" matInput name="tc2t">
      </mat-form-field>
    </div>
    <div style="display: flex; flex: 1; align-content: center;">
      <mat-form-field class="adresseForm" style="margin-left: 10px;">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ha.</mat-label>
        <input [(ngModel)]="formData.tc2.qte" type="number" style="text-align: center;" placeholder="00" matInput
          name="tc2c">
      </mat-form-field>
    </div>
  </div>

  <div class="formRow">
    <div style="display: flex; flex: 2; align-items: center;">
      <mat-form-field class="adresseForm" style="margin-right: 20px;">
        <mat-label>PT06 - Type de culture 3</mat-label>
        <input [(ngModel)]="formData.tc3.type" type="text" placeholder="Préciser" matInput name="tc3c">
      </mat-form-field>
    </div>
    <div style="display: flex; flex: 1; align-content: center;">
      <mat-form-field class="adresseForm" style="margin-left: 10px;" id="id-last-element-for-next-srpt">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ha.</mat-label>
        <input [(ngModel)]="formData.tc3.qte" type="number" style="text-align: center;" placeholder="00" matInput
          name="tc3c">
      </mat-form-field>
    </div>
  </div>

</div>

<!-- Mobile version ==================================================== -->

<div *ngIf="bpObs === 'XS'">

  <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px; margin-bottom: 25px;">Sources de revenus (SR.) et possession de
      terres (PT.)*</p>
  </div>

  <p class="enTeteInput1" style="margin-bottom: 12px;">Sources de revenus :</p>
  <div class="formCol" *ngFor="let item of sr_list; let i = index">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">{{ "SR" + (i< 9 ? ("0"+(i+1)) : i+1) + " - " + item}}</p>
    </div>
    <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-form-field style="width: 100%; font-size: 16px;">
        <mat-label class="orange">Source</mat-label>
        <mat-select [(ngModel)]="formData.sr[item]">
          <mat-option value="Principale">Principale</mat-option>
          <mat-option value="Secondaire">Secondaire</mat-option>
          <mat-option value="Tertiaire">Tertiaire</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="formCol">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">SR10 - Quantité de céréales moyennes récoltées en année de référence (sacs de 50kg) ?
      </p>
    </div>
    <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
      <mat-form-field class="adresseForm">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Quantité
        </mat-label>
        <input [(ngModel)]="formData.qcmrar" type="number" style="text-align: center;" placeholder="00" matInput
          name="qcmrar">
      </mat-form-field>
    </div>
  </div>

  <p class="enTeteInput1" style="margin-bottom: 12px;">Possession de terres :</p>
  <div class="formCol" *ngFor="let item of pt_list; let i = index">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">{{"PT" + (i< 9 ? ("0"+(i+1)) : i+1) + " - " + item}}</p>
    </div>
    <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
      <mat-form-field class="adresseForm">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ha.</mat-label>
        <input [(ngModel)]="formData.pt[item]" type="number" style="text-align: center;" placeholder="00" matInput
          [name]="item+'_surf'">
      </mat-form-field>
    </div>
  </div>

  <div class="formCol">
    <div style="display: flex; flex: 2; align-items: center;">
      <mat-form-field class="adresseForm">
        <mat-label>PT04 - Type de culture 1</mat-label>
        <input [(ngModel)]="formData.tc1.type" type="text" placeholder="Préciser" matInput name="tc1t">
      </mat-form-field>
    </div>
    <div style="display: flex; flex: 1; align-content: center;">
      <mat-form-field class="adresseForm">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ha.</mat-label>
        <input [(ngModel)]="formData.tc1.qte" type="number" style="text-align: center;" placeholder="00" matInput
          name="tc1q">
      </mat-form-field>
    </div>
  </div>

  <div class="formCol">
    <div style="display: flex; flex: 2; align-items: center;">
      <mat-form-field class="adresseForm">
        <mat-label>PT05 - Type de culture 2</mat-label>
        <input [(ngModel)]="formData.tc2.type" type="text" placeholder="Préciser" matInput name="tc2t">
      </mat-form-field>
    </div>
    <div style="display: flex; flex: 1; align-content: center;">
      <mat-form-field class="adresseForm">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ha.</mat-label>
        <input [(ngModel)]="formData.tc2.qte" type="number" style="text-align: center;" placeholder="00" matInput
          name="tc2c">
      </mat-form-field>
    </div>
  </div>

  <div class="formCol">
    <div style="display: flex; flex: 2; align-items: center;">
      <mat-form-field class="adresseForm">
        <mat-label>PT06 - Type de culture 3</mat-label>
        <input [(ngModel)]="formData.tc3.type" type="text" placeholder="Préciser" matInput name="tc3c">
      </mat-form-field>
    </div>
    <div style="display: flex; flex: 1; align-content: center;">
      <mat-form-field class="adresseForm" id="id-last-element-for-next-srpt">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ha.</mat-label>
        <input [(ngModel)]="formData.tc3.qte" type="number" style="text-align: center;" placeholder="00" matInput
          name="tc3c">
      </mat-form-field>
    </div>
  </div>

  <div style="min-height: 50px; min-width: 25px;"></div>

</div>
