<div style="padding-right: 5px;">

    <div class="enqueteColumn" style="margin-bottom: 20px;">
        <div style="display: flex; padding-top:10px; align-items: center; margin-right: 15px;">
            <p style="font-size: 16px;">Durant l'enquête, le chef de ménage était-il présent ?</p>
          </div>
          <div style="display: flex; align-items: center; margin-left: 25px;">
          <mat-radio-group style="display: flex; flex-direction: column;" [(ngModel)]="formData.chef">
              <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Oui, il a assisté jusqu'à la fin">Oui, il a assisté jusqu'à la fin</mat-radio-button>
              <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Oui, assisté mais une partie">Oui, assisté mais une partie</mat-radio-button>
              <mat-radio-button value="Non">Non</mat-radio-button>
          </mat-radio-group>
          </div>
    </div>


    <div class="nomPrenom">
        <mat-form-field class="outlineApparence1" appearance="outline">
          <mat-label>Qui a répondu à l'enquête</mat-label>
          <input [(ngModel)]="formData.persone" name="answerpersone" style="text-transform: uppercase; font-size: 16px; font-weight: 450;" matInput placeholder="MADAGASIKARA">
        </mat-form-field>
    </div>

    <div class="enqueteColumn" style="margin-bottom: 20px;">
        <div style="display: flex; padding-top:10px; align-items: center; margin-right: 15px;">
            <p style="font-size: 16px;">Qualité de l'accueil et de l'enquête</p>
          </div>
          <div style="display: flex; align-items: center; margin-left: 25px;">
          <mat-radio-group style="display: flex; flex-direction: column;" [(ngModel)]="formData.quality">
              <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Très bien">Très bien</mat-radio-button>
              <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Bien">Bien</mat-radio-button>
              <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Moyen">Moyen</mat-radio-button>
              <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Mauvais">Mauvais</mat-radio-button>
              <mat-radio-button value="Très mauvais" id="id-last-element-for-next-val">Très mauvais</mat-radio-button>
          </mat-radio-group>
          </div>
    </div>

    <div *ngIf="bpObs === 'XS'" style="min-height: 50px; min-width: 25px;"></div>

  </div>
