<mat-form-field appearance="outline" [style]="getStyle()">
  <mat-label style="display: flex; justify-content: center;">{{label}}</mat-label>
  <input [disabled]="disabled" type="text" style="text-align: center; font-size: 18px; font-weight: 450;" [(ngModel)]="model"
    [placeholder]="placeholder" matInput [formControl]="myControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
