<div style="padding-right: 15px;" *ngIf="bpObs !== 'XS'">

  <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px;">Biens possédés par le ménage (AP.)*</p>
    <p style="color:rgba(128, 128, 128, 0.5);">( bon état, fonctionnel, en état de marche, etc.)</p>
  </div>

  <div class="formRow" *ngFor="let item of item_list; let i = index">
    <mat-checkbox class="example-margin" style="margin-left: 16px; display: flex; flex: 1;" [(ngModel)]="formData[item].state">
      {{ "AP" + (i< 9 ? ("0"+(i+1)) : i+1) + " - " + item}}
    </mat-checkbox>
    <!-- <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">commentaire ao ambany ao nyu eto</p>
    </div> -->
    <!-- <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-radio-group>
        <mat-radio-button style="margin-right: 15px;" value="1">Oui</mat-radio-button>
        <mat-radio-button value="2">Non</mat-radio-button>
      </mat-radio-group>
    </div> -->
    <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
      <div *ngIf="i<12">
        {{formData[item].state ? 'Oui' : 'Non'}}
      </div>
      <mat-form-field *ngIf="i>11" class="adresseForm">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Quantité
        </mat-label>
        <input [disabled]="!formData[item].state" [(ngModel)]="formData[item].qte" type="number" min="0" style="text-align: center;" placeholder="00" matInput [name]="item+'_number'">
      </mat-form-field>
    </div>
  </div>
  <div id="id-last-element-for-next-ap" style="height: 2px;"></div>
  <div style="height: 16px;"></div>

</div>

<!-- MOBILE -->

<div class="mobile-root" style="align-items: normal !important;" *ngIf="bpObs === 'XS'">
  <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px;">Biens possédés par le ménage (AP.)*</p>
    <p style="color:rgba(128, 128, 128, 0.5);">( bon état, fonctionnel, en état de marche, etc.)</p>
  </div>

  <div *ngFor="let item of item_list; let i = index">
    <div class="formRow" *ngIf="i<12">
      <mat-checkbox style="margin-left: 16px; display: flex; flex: 6;" [(ngModel)]="formData[item].state">
        {{ "AP" + (i< 9 ? ("0"+(i+1)) : i+1) + " - " + item}}
      </mat-checkbox>
      <!-- <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
        <div *ngIf="i<12">
          {{formData[item].state ? 'Oui' : 'Non'}}
        </div>
      </div> -->
      <div>
        <mat-form-field *ngIf="i>11" class="adresseForm">
          <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Quantité
          </mat-label>
          <input [disabled]="!formData[item].state" [(ngModel)]="formData[item].qte" type="number" min="0"  style="text-align: center;" placeholder="00" matInput [name]="item+'_number'">
        </mat-form-field>
      </div>
    </div>

    <div class="formColumnMob" *ngIf="i>11">
      <mat-checkbox style="margin-left: 16px; display: flex; flex: 6; margin-bottom: -5px;" [(ngModel)]="formData[item].state">
        {{ "AP" + (i< 9 ? ("0"+(i+1)) : i+1) + " - " + item}}
      </mat-checkbox>
      <div style="display: flex; flex: 1; padding-top:15px; align-content: center;">
        <div *ngIf="i<12">
          {{formData[item].state ? 'Oui' : 'Non'}}
        </div>
      </div>
      <div>
        <mat-form-field *ngIf="i>11" class="adresseForm">
          <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Quantité
          </mat-label>
          <input [disabled]="!formData[item].state" [(ngModel)]="formData[item].qte" type="number" min="0" style="text-align: center;" placeholder="00" matInput [name]="item+'_number'">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div id="id-last-element-for-next-ap" style="height: 2px;"></div>
  <div style="min-height: 50px; min-width: 25px;"></div>

</div>
