.root {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: whitesmoke;
}
.main-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  /* background-color: #ffeee3; */
}
.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  padding-left: 25px;
  /* background-color: #ffffff; */
}
.card-container {
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
}
.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fe711a;
  border-radius: 50px;
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  bottom: 0;
  position: fixed;
}
.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 32px;
  width: 100%;
  height: 100%;
}
.toolbar-button {
  color: white;
  border-color: white !important;
  margin: 8px;
}
.searchBar {
  width: 100%;
  height: 75px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #fe711a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-cardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - (110px + 75px));
}
.list-content-mob{
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  height: calc(100vh - 110px);
}
.list-content-mob-state{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 110px);
  overflow-y: auto;
}

.list-content-mob-state mat-card{
  width: 80%;
}

.upmaincontainer{
  display: flex;
  flex-direction: row;
  margin-top: 65px;
  height: calc(100vh - 65px);
}
.chartContainer{
  display: flex;
  padding: 16px;
  max-height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  width: 35%;
}
.charttitle{
  color: #fe711a;
  font-size: 20px;
  font-weight: 500;
}
