<div class="root" *ngIf="bpObs !== 'XS'">
  <div class="upmaincontainer">
    <div class="main-container">
      <div class="menu-container">
        <mat-form-field appearance="outline" style="width: 100%; margin-right: 8px;">
          <mat-label>{{text_data._search_keyword}}</mat-label>
          <mat-icon matSuffix style="color: #fe711a;">search</mat-icon>
          <input matInput (keyup)="serachByKeyword()" [(ngModel)]="this.filter_keyword" [formControl]="uname" />
        </mat-form-field>
        <app-default-select (onValueChange)="onFilterChange($event)" [label]="text_data._filter"
          [options]="filter_option" style="width: 100%;">
        </app-default-select>
      </div>
      <div class="card-container">
        <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
        <div class="card-list">
          <app-card-item [isConnected]="isConnected" *ngFor="let cards of card_list" [image_url]="cards.pict" [name]="cards.nom"
            [prename]="cards.prenom" [cardDetails]="cards" [nis]="cards.nis" [fam_head]="cards.cdf"
            [address]="cards.adress" [qrdata]="cards.coderef"
            [barData]="cards.barref">
          </app-card-item>
        </div>
        <div style="height: 60px;"></div>
        <div class="pagination">
          <mat-paginator style="background-color: whitesmoke;" (page)="pageEvent = onPageChange($event)" [pageIndex]="page_index" [length]="element_count"
            [pageSize]="page_limit" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
          </mat-paginator>
          <div style="color: #999999;">
            Page: {{page_index+1}}
          </div>
        </div>
      </div>
    </div>
    <div class="chartContainer">
      <mat-card style="margin-bottom: 8px;">
        <p class="charttitle">Ménage</p>
        <p style="margin: 0; padding: 0;">
          Echantillonnés : 20 117 <br />
          Occupés : 18 291  <br />
          Enquéetés : 17 870 <br />
        </p>
        <div echarts [options]="op1"></div>
        <mat-spinner *ngIf="sload1"></mat-spinner>
      </mat-card>

      <mat-card style="margin-bottom: 8px;">
        <p class="charttitle">Femmes âgées 15-49ans</p>
        <p style="margin: 0; padding: 0;">
          Eligibles pour les interviews : 18 812 <br />
          Enquéetées : 17 161 <br />
        </p>
        <div echarts [options]="op1a"></div>
        <mat-spinner *ngIf="sload2"></mat-spinner>
      </mat-card>

      <mat-card style="margin-bottom: 8px;">
        <p class="charttitle">Homme âgés 15-49ans</p>
        <p style="margin: 0; padding: 0;">
          Eligibles pour les interviews : 8 980 <br />
          Enquéetés : 7 623 <br />
        </p>
        <div echarts [options]="op1b"></div>
        <mat-spinner *ngIf="sload3"></mat-spinner>
      </mat-card>

      <mat-card style="margin-bottom: 8px;">
        <p class="charttitle">Enfants de moins de 5ans</p>
        <p style="margin: 0; padding: 0;">
          Eligibles pour les interviews : 13 355 <br />
          Mères/Gardiennes enquéetées : 12 857 <br />
        </p>
        <div echarts [options]="op1c"></div>
        <mat-spinner *ngIf="sload4"></mat-spinner>
      </mat-card>

      <mat-card style="margin-bottom: 8px;">
        <p class="charttitle">Enfant âgés de 5-17ans</p>
        <p style="margin: 0; padding: 0;">
          Eligibles pour les interviews : 12 429 <br />
          Mères/Gardiennes enquéetées : 11 977 <br />
        </p>
        <div echarts [options]="op1d"></div>
        <mat-spinner *ngIf="sload5"></mat-spinner>
      </mat-card>
      <!-- <mat-card style="margin-bottom: 8px;">
        <p class="charttitle">Chart Title</p>
        <div echarts [options]="op2"></div>
      </mat-card>
      <mat-card style="margin-bottom: 8px;">
        <p class="charttitle">Chart Title</p>
        <div echarts [options]="op3"></div>
      </mat-card> -->
    </div>
  </div>
</div>

<!-- mobile version -->

<div class="mobile-root-sec" *ngIf="bpObs === 'XS'">
  <div class="mob-header">
    <!-- <p style="margin: 12px">Carts</p> -->
    <div matRipple class="mobil-div-button" (click)="handleTabChange(1)">
      <p style="margin-bottom: 3px;">Listes</p>
      <div class="active-button-bar" [style]="'display: '+ (mobileTabIndex === 1 ? '' : 'none') +' ;'"></div>
    </div>
    <div matRipple class="mobil-div-button" (click)="handleTabChange(2)">
      <p style="margin-bottom: 3px;">Statistiques</p>
      <div class="active-button-bar" [style]="'display: '+ (mobileTabIndex === 2 ? '' : 'none') +' ;'"></div>
    </div>
    <!-- <div matRipple class="mobil-div-button" style="position: absolute; right: 5px;">
      <mat-icon>menu</mat-icon>
    </div> -->
  </div>
  <div class="mob-header-spacer"></div>
  <div class="list-content-mob" *ngIf="mobileTabIndex === 1">
    <div class="searchBar">
      <mat-form-field appearance="outline" style="width: 95%; margin-top: 8px;">
        <mat-label>{{text_data._search_keyword}}</mat-label>
        <mat-icon matSuffix style="color: #fe711a;">search</mat-icon>
        <input matInput (keyup)="serachByKeyword()" [(ngModel)]="this.filter_keyword" [formControl]="uname" />
      </mat-form-field>
    </div>

    <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
    <div class="mobile-cardContainer">
      <app-card-item [isMobile]="true" [isConnected]="isConnected" *ngFor="let cards of card_list" [image_url]="cards.pict" [name]="cards.nom"
        [prename]="cards.prenom" [cardDetails]="cards" [nis]="cards.nis" [fam_head]="cards.cdf" [address]="cards.adress"
        [qrdata]="getQRdata({id: cards.id, detailId: cards.detailId, nis: cards.nis})" [barData]="cards.nis">
      </app-card-item>
      <mat-paginator *ngIf="!isLoading" (page)="pageEvent = onPageChange($event)" [pageIndex]="page_index"
        [length]="element_count" [pageSize]="page_limit" [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true">
      </mat-paginator>
      <div style="width: 100%; min-height: 25px;"></div>
    </div>
  </div>
  <div class="list-content-mob-state" *ngIf="mobileTabIndex === 2" style="padding-top:15px">
    <mat-card style="margin-bottom: 8px;">
      <p class="charttitle">Ménage</p>
      <p style="margin: 0; padding: 0;">
        Echantillonnés : 20 117 <br />
        Occupés : 18 291  <br />
        Enquéetés : 17 870 <br />
      </p>
      <div echarts [options]="op1"></div>
      <mat-spinner *ngIf="sload1"></mat-spinner>
    </mat-card>

    <mat-card style="margin-bottom: 8px;">
      <p class="charttitle">Femmes âgées 15-49ans</p>
      <p style="margin: 0; padding: 0;">
        Eligibles pour les interviews : 18 812 <br />
        Enquéetées : 17 161 <br />
      </p>
      <div echarts [options]="op1a"></div>
      <mat-spinner *ngIf="sload2"></mat-spinner>
    </mat-card>

    <mat-card style="margin-bottom: 8px;">
      <p class="charttitle">Homme âgés 15-49ans</p>
      <p style="margin: 0; padding: 0;">
        Eligibles pour les interviews : 8 980 <br />
        Enquéetés : 7 623 <br />
      </p>
      <div echarts [options]="op1b"></div>
      <mat-spinner *ngIf="sload3"></mat-spinner>
    </mat-card>

    <mat-card style="margin-bottom: 8px;">
      <p class="charttitle">Enfants de moins de 5ans</p>
      <p style="margin: 0; padding: 0;">
        Eligibles pour les interviews : 13 355 <br />
        Mères/Gardiennes enquéetées : 12 857 <br />
      </p>
      <div echarts [options]="op1c"></div>
      <mat-spinner *ngIf="sload4"></mat-spinner>
    </mat-card>

    <mat-card style="margin-bottom: 8px; ">
      <p class="charttitle">Enfant âgés de 5-17ans</p>
      <p style="margin: 0; padding: 0;">
        Eligibles pour les interviews : 12 429 <br />
        Mères/Gardiennes enquéetées : 11 977 <br />
      </p>
      <div echarts [options]="op1d"></div>
      <mat-spinner *ngIf="sload5"></mat-spinner>
    </mat-card>
    <div style="width: 100%; min-height: 25px;"></div>
  </div>
</div>
