<div style="padding-right: 15px;" *ngIf="bpObs !== 'XS'">

    <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px;">HANDICAP ET MALADIE CHRONIQUE</p>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20a - [Quand vous portez vos lunettes ou vos lentilles de contact,] avez-vous des difficultés à voir ?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
                <mat-label class="orange">Difficulté</mat-label>
                <mat-select [(ngModel)]="formData.lunette">
                  <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                  <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                  <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                  <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20b - [Quand vous portez votre prothèse auditive,] avez-vous des difficultés à entendre ?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
                <mat-label class="orange">Difficulté</mat-label>
                <mat-select [(ngModel)]="formData.audition">
                  <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                  <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                  <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                  <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20c - Avez-vous des difficultés à marcher ou à monter les escaliers ? </p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
                <mat-label class="orange">Difficulté</mat-label>
                <mat-select [(ngModel)]="formData.walking">
                  <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                  <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                  <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                  <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20d - Avez-vous des difficultés à vous souvenir ou à vous concentrer ?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
                <mat-label class="orange">Difficulté</mat-label>
                <mat-select [(ngModel)]="formData.brain">
                  <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                  <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                  <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                  <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20e - Avez-vous des difficultés à prendre soin de vous-même, à vous laver entièrement ou à vous habiller seul ?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
                <mat-label class="orange">Difficulté</mat-label>
                <mat-select [(ngModel)]="formData.selfcare">
                  <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                  <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                  <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                  <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20f - En utilisant votre langage habituel, avez-vous des difficultés à communiquer, à comprendre ou à vous faire comprendre ?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
                <mat-label class="orange">Difficulté</mat-label>
                <mat-select [(ngModel)]="formData.maternallng">
                  <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                  <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                  <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                  <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20g - Avez vous des difficultés à prendre ou à porter des choses ?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-form-field style="width: 100%; font-size: 16px;margin-left: 10px;">
                <mat-label class="orange">Difficulté</mat-label>
                <mat-select [(ngModel)]="formData.caring">
                  <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                  <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                  <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                  <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20h - Avez-vous déjà bénéficier d'un dépistage pour des maladies chroniques (VIH, tuberculose, etc)?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData.chronicdeaseas">
            <mat-radio-button style="margin-right: 15px;" value="Oui">Oui</mat-radio-button>
            <mat-radio-button value="Non">Non</mat-radio-button>
        </mat-radio-group>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20i - Souffrez-vous d'une maladie chronique ou suivez-vous un traitement de longue durée?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData.chronicdeaseasauth">
            <mat-radio-button style="margin-right: 15px;" value="Oui">Oui</mat-radio-button>
            <mat-radio-button value="Non">Non</mat-radio-button>
        </mat-radio-group>
        </div>
    </div>

    <div class="formRow" style="margin-bottom: 25px;">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M20j - Les difficultés physiques indiquées aux questions M20a à M20i ont-elles occasionnées une perte de revenu pour vous?</p>
        </div>
        <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData.diffic">
            <mat-radio-button style="margin-right: 15px;" value="Oui">Oui</mat-radio-button>
            <mat-radio-button value="Non" id="id-last-element-for-next-hmc">Non</mat-radio-button>
        </mat-radio-group>
        </div>
    </div>

</div>

<!-- Mobile version  *********************************************** -->

<div *ngIf="bpObs === 'XS'">

  <div class="enqueteColumn">
  <p class="enTeteInput" style="margin-right: 10px;">HANDICAP ET MALADIE CHRONIQUE</p>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20a - [Quand vous portez vos lunettes ou vos lentilles de contact,] avez-vous des difficultés à voir ?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
          <mat-form-field style="width: 100%; font-size: 16px;">
              <mat-label class="orange">Difficulté</mat-label>
              <mat-select [(ngModel)]="formData.lunette">
                <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20b - [Quand vous portez votre prothèse auditive,] avez-vous des difficultés à entendre ?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
          <mat-form-field style="width: 100%; font-size: 16px;">
              <mat-label class="orange">Difficulté</mat-label>
              <mat-select [(ngModel)]="formData.audition">
                <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20c - Avez-vous des difficultés à marcher ou à monter les escaliers ? </p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
          <mat-form-field style="width: 100%; font-size: 16px;">
              <mat-label class="orange">Difficulté</mat-label>
              <mat-select [(ngModel)]="formData.walking">
                <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20d - Avez-vous des difficultés à vous souvenir ou à vous concentrer ?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
          <mat-form-field style="width: 100%; font-size: 16px;">
              <mat-label class="orange">Difficulté</mat-label>
              <mat-select [(ngModel)]="formData.brain">
                <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20e - Avez-vous des difficultés à prendre soin de vous-même, à vous laver entièrement ou à vous habiller seul ?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
          <mat-form-field style="width: 100%; font-size: 16px;">
              <mat-label class="orange">Difficulté</mat-label>
              <mat-select [(ngModel)]="formData.selfcare">
                <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20f - En utilisant votre langage habituel, avez-vous des difficultés à communiquer, à comprendre ou à vous faire comprendre ?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
          <mat-form-field style="width: 100%; font-size: 16px;">
              <mat-label class="orange">Difficulté</mat-label>
              <mat-select [(ngModel)]="formData.maternallng">
                <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20g - Avez vous des difficultés à prendre ou à porter des choses ?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
          <mat-form-field style="width: 100%; font-size: 16px;">
              <mat-label class="orange">Difficulté</mat-label>
              <mat-select [(ngModel)]="formData.caring">
                <mat-option value="Aucune difficulté">Aucune difficulté</mat-option>
                <mat-option value="Quelques difficultés">Quelques difficultés</mat-option>
                <mat-option value="Beaucoup de difficultés">Beaucoup de difficultés</mat-option>
                <mat-option value="Ne peut pas du tout">Ne peut pas du tout</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20h - Avez-vous déjà bénéficier d'un dépistage pour des maladies chroniques (VIH, tuberculose, etc)?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-radio-group [(ngModel)]="formData.chronicdeaseas">
          <mat-radio-button value="Oui" style="margin-right: 8px;">Oui</mat-radio-button>
          <mat-radio-button value="Non">Non</mat-radio-button>
      </mat-radio-group>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20i - Souffrez-vous d'une maladie chronique ou suivez-vous un traitement de longue durée?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-radio-group [(ngModel)]="formData.chronicdeaseasauth">
          <mat-radio-button value="Oui" style="margin-right: 8px;">Oui</mat-radio-button>
          <mat-radio-button value="Non">Non</mat-radio-button>
      </mat-radio-group>
      </div>
  </div>

  <div class="formCol" style="margin-bottom: 25px;">
      <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
        <p style="font-size: 16px;">M20j - Les difficultés physiques indiquées aux questions M20a à M20i ont-elles occasionnées une perte de revenu pour vous?</p>
      </div>
      <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-radio-group [(ngModel)]="formData.diffic">
          <mat-radio-button value="Oui" style="margin-right: 8px;">Oui</mat-radio-button>
          <mat-radio-button value="Non" id="id-last-element-for-next-hmc">Non</mat-radio-button>
      </mat-radio-group>
      </div>
  </div>

  <div style="min-height: 50px; min-width: 25px;"></div>

</div>



