<app-id-enqueteur *ngIf="index <= 1" style="flex: 1;" [formData]="all_data.enqueteur_data" [disableNext]="onViewInit"></app-id-enqueteur>
<app-ig *ngIf="index === 2" style="flex: 1;" [formData]="all_data.ig_data" [disableNext]="onViewInit" [contryListes]="contry_list"></app-ig>
<app-id *ngIf="index === 3" style="flex: 1;" [formData]="all_data.id_data" [disableNext]="onViewInit"></app-id>
<app-ch *ngIf="index === 4" style="flex: 1;" [formData]="all_data.ch_data" [disableNext]="onViewInit"></app-ch>
<app-ap *ngIf="index === 5" style="flex: 1;" [formData]="all_data.ap_data" [disableNext]="onViewInit"></app-ap>
<app-srpt *ngIf="index === 6" style="flex: 1;" [formData]="all_data.srpt_data" [disableNext]="onViewInit"></app-srpt>
<app-da *ngIf="index === 7" style="flex: 1;" [formData]="all_data.da_data" [disableNext]="onViewInit"></app-da>
<app-acaa *ngIf="index === 8" style="flex: 1;" [formData]="all_data.acaa_data" [disableNext]="onViewInit"></app-acaa>
<app-id1 *ngIf="index === 9" style="flex: 1;" [formData]="all_data.id1_data" [disableNext]="onViewInit"></app-id1>
<app-educres *ngIf="index === 10" style="flex: 1;" [formData]="all_data.educres_data" [disableNext]="onViewInit"></app-educres>
<app-ep *ngIf="index === 11" style="flex: 1;" [formData]="all_data.ep_data" [disableNext]="onViewInit"></app-ep>
<app-hmc *ngIf="index === 12" style="flex: 1;" [formData]="all_data.hmc_data" [disableNext]="onViewInit"></app-hmc>
<app-validation *ngIf="index === 13" style="flex: 1;" [formData]="all_data.validatiaon_data" [disableNext]="onViewInit"></app-validation>
