<div [class]="isMobile ? 'rootMob':'root'">
  <div class="card-item">
    <div matRipple [class]="isMobile ? 'card-body-mob':'card-body'" (click)="onGoDetail()">
      <div matRipple class="detail-button">
        <mat-icon>visibility</mat-icon>
      </div>
      <div class="image-container" [style]="'background-image: url(\''+(image_url)+'\');'" style="position: relative;">
      </div>
      <div [class]="isMobile ? 'data-container-mob':'data-container'" [style]="isMobile ? ('width: '+(screen.x - 130)+'px'):''">
        <p class="carte-text-main" style="text-transform: uppercase;">
          {{all_text._name}}
          <span [matTooltip]="name ?? 'N/A'" style="font-weight: normal;">{{name ?? 'N/A'}}</span>
        </p>
        <p class="carte-text-main" style="text-transform: capitalize;">
          {{all_text._prenom}}
          <span [matTooltip]="prename ?? 'N/A'" style="font-weight: normal;">{{prename ?? 'N/A'}}</span>
        </p>
        <p class="carte-text-main">
          {{all_text._nis}}
          <span [matTooltip]="nis ?? 'N/A'" style="font-weight: normal;">{{nis ?? 'N/A'}}</span>
        </p>
        <p class="carte-text-main">
          {{all_text._fam_head}}
          <span [matTooltip]="all_text._fromBoolean(fam_head) ?? 'N/A'" style="font-weight: normal;">{{all_text._fromBoolean(fam_head) ?? 'N/A'}}</span>
        </p>
        <p class="carte-text-main">
          {{all_text._addr}}
          <span [matTooltip]="address ?? 'N/A'" style="font-weight: normal;">{{address ?? 'N/A'}}</span>
        </p>
      </div>
      <div class="qr-container" *ngIf="!isMobile">
        <qr-code [value]="qrdata ?? 'N/A'" size="120" errorCorrectionLevel="M"></qr-code>
      </div>
    </div>
    <mat-divider *ngIf="!isMobile">
    </mat-divider>
    <div *ngIf="!isMobile" class="card-footer">
      <p style="color: white; margin-right: 8px; margin-bottom: 0; margin-left: 8px;">Scan PMT & ID</p>
      <ngx-barcode class="barcode" style="margin-right: 8px;"
      [bc-font-size]="15"
      [bc-width]="1"
      [bc-display-value]="true"
      [bc-value]="barData ?? 'N/A'"
      [bc-height]="30"
      [bc-margin-top]="0"
      [bc-margin-bottom]="0"
      [bc-margin]="4"
      [bc-text-margin]="0"
      ></ngx-barcode>
    </div>
  </div>
</div>
