.root {
  width: 400px;
  height: 170px;
  min-width: 150px;
  min-height: 70px;
  margin: 8px;
}
.rootMob {
  width: 95%;
  height: 125px;
  min-width: 150px;
  min-height: 70px;
  margin: 8px;
}
.card-item {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  border-color: #ffbb8f;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.card-body {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
}
.card-body-mob {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ff802e;
}
.image-container {
  width: 100px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.data-container {
  max-width: 155px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.data-container-mob {
  min-width: 50px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.carte-text-main {
  color: #ff802e;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  cursor:default;
}
.qr-container {
  width: 123px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24;
  color: #ffffff;
  background-color: rgba(255, 129, 51, 0);
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 22;
}
.detail-button:hover {
  background-color: rgba(255, 129, 51, 0.6);
  opacity: 1;
}
.barcode {
  margin-top: 3px;
}
