/*START STYLE WEB*/
.root {
  width: 100%;
  height: 100vh;
  /* height: calc(100vh - 130px); */
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

#loginBg{
  background-image: url("../../../assets/images/allBackGround.svg");
  background-position: top;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer{
  min-width: 50%;
  min-height: 90vh;
  max-height: 90vh;
  margin-left: 15px;
  margin-right: 15px;
  overflow-y: auto;
  padding-bottom: 0 !important;
}

.loginImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoImage0{
  width: 60%;
  height: fit-content;

}

.loginImage1{
  width: 35%;
  height: fit-content;
}

.loginCard{
  width: 100%;
  height: fit-content;
  padding-bottom: 0 !important;
  bottom: 0 !important;
}

.loginButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loginButtonMob{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forgotPass:hover{
  color: #fe711a;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fe711a;
  border-radius: 50px;
}
/*END STYLE WEB*/

.loginContainer{
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.loginLeft {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 5%;
}

.loginLeftImg{
  width: 85%;
  height: fit-content;
}

.loginRight{
  display: flex;
  flex: 1;
  justify-content: flex-start;
}


.loginCardMob{
  width: 85%;
  height: fit-content;
}

.loginButtonContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  justify-items: center;

}
.loginButtonContainerMob{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

}

.buttonLoginC{
  display: flex;
  flex: 1;
}

.buttonLogin{
  display: flex;
  color: #ffffff;
  background-color: #fe711a;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 18px;
  font-weight: lighter;
}

.buttonLogin:hover{
  display: flex;
  color: #ffffff;
  background-color: #fe711a;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 18px;
}

.texteLogin{
  display: flex;
  flex: 1;
}

.state-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25px;
  background-color: black;
}

.dodStyle {
  font-size: 50px;
  margin: 0;
  margin-right: 5px;
}
