<div *ngIf="bpObs !== 'XS'" class="root" id="loginBg">
  <mat-card class="cardContainer">
    <div class="loginImage">
      <img class="logoImage0" src="assets/images/logo min.png" alt="logmin">
      <img class="loginImage1" src="assets/images/LoginManageID.svg">
    </div>

    <div class="loginCard">
          <div style="margin-top: 30px; margin-bottom: 15px;">
            <p style="color: #fe711a; font-size: 32px; margin-bottom: 5px;">{{text_data._welcome}}</p>
            <p style="font-size: 14px;">{{text_data._connect}}</p>
          </div>

          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>{{text_data._login_uname}}</mat-label>
              <input matInput [(ngModel)]="this.user_name" [formControl]="uname" required />
              <mat-error *ngIf="uname.invalid">{{text_data._champ_requis}}</mat-error>
              <mat-icon matSuffix style="color: #fe711a;">account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>{{text_data._pass_word}}</mat-label>
              <input [type]="pass_hide ? 'password' : 'text'" [formControl]="upass" matInput [(ngModel)]="this.pass_text"
                required />
              <mat-error *ngIf="upass.invalid">{{text_data._champ_requis}}</mat-error>
              <button mat-icon-button matSuffix (click)="pass_hide = !pass_hide">
                <mat-icon style="color: #fe711a;">{{this.pass_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </button>
            </mat-form-field>
          </mat-card-content>

          <div class="loginButton" style="margin-bottom: 30px;">
            <div>
              <app-default-button [isLoading]="is_loading" [onClick]="handleLogUser" [dlabel]="text_data._login_bt">
              </app-default-button>
            </div>

            <div>
              <p class="forgotPass" style="margin-top: 8px; cursor: pointer; margin-right: 15px;" (click)="handleRecover()">
                {{text_data.passForgot}}
              </p>
            </div>
          </div>

          <app-footer></app-footer>

    </div>
  </mat-card>


</div>

<!-- Mobile content -->

<div *ngIf="bpObs === 'XS'" class="root" id="loginBg">
  <mat-card class="cardContainer">

    <div class="loginImage">
      <img class="logoImage0" src="assets/images/logo min.png" alt="logmin">
      <img class="loginImage1" src="assets/images/LoginManageID.svg">
    </div>

    <div class="loginCard">
          <div style="margin-top: 30px; margin-bottom: 15px;">
            <p style="color: #fe711a; font-size: 32px; margin-bottom: 5px;">{{text_data._welcome}}</p>
            <p style="font-size: 14px;">{{text_data._connect}}</p>
          </div>

          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>{{text_data._login_uname}}</mat-label>
              <input matInput [(ngModel)]="this.user_name" [formControl]="uname" required />
              <mat-error *ngIf="uname.invalid">{{text_data._champ_requis}}</mat-error>
              <mat-icon matSuffix style="color: #fe711a;">account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>{{text_data._pass_word}}</mat-label>
              <input [type]="pass_hide ? 'password' : 'text'" [formControl]="upass" matInput [(ngModel)]="this.pass_text"
                required />
              <mat-error *ngIf="upass.invalid">{{text_data._champ_requis}}</mat-error>
              <button mat-icon-button matSuffix (click)="pass_hide = !pass_hide">
                <mat-icon style="color: #fe711a;">{{this.pass_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </button>
            </mat-form-field>
          </mat-card-content>

          <div class="loginButtonMob" style="margin-bottom: 30px;">
            <div>
              <app-default-button [isLoading]="is_loading" [onClick]="handleLogUser" [dlabel]="text_data._login_bt">
              </app-default-button>
            </div>

            <div>
              <p class="forgotPass" style="margin-top: 8px; cursor: pointer; margin-right: 15px;" (click)="handleRecover()">
                {{text_data.passForgot}}
              </p>
            </div>
          </div>

          <app-footer></app-footer>

    </div>
    <!-- <div class="state-container">
      <p *ngIf="IsSyncronising === 0 || IsSyncronising === 1" class="dodStyle" [style]="IsConnected ? 'color: green':'color: red;'">•</p>
      <mat-progress-bar style="width: 25%; margin-right: 16px;" *ngIf="IsSyncronising === 2" mode="indeterminate"></mat-progress-bar>
      <p style="color: white;margin: 0;">{{getStatueText(IsSyncronising)}}</p>
    </div> -->
  </mat-card>
</div>
