<!-- <app-header *ngIf="!isNotConected && bpObs !== 'XS'"></app-header> -->
<router-outlet *ngIf="isNotConected"></router-outlet>

<!-- <app-mobile-tab *ngIf="!isNotConected && bpObs === 'XS'"></app-mobile-tab> -->

<div *ngIf="!isNotConected && bpObs !== 'XS'" style="width: 100%; height: 100vh;">
  <app-header *ngIf="!isNotConected && bpObs !== 'XS'"></app-header>
  <div class="contentcontainer">
    <mat-sidenav-container>
      <mat-sidenav #appDrawer mode="side" opened="true" class="drowerstyle">
        <mat-nav-list class="dashboard" style="padding-top: 0 !important;">
          <a mat-list-item class="nav-header" style="height: 65px;">
            <mat-icon mat-list-icon style="color: white;">account_circle</mat-icon>
            <p matLine style="color: white;">{{user.user_data.user_name}}</p>
          </a>

          <a mat-list-item [class]="router.url === '/'+route_path.home ? 'buttonStyle-active':'buttonStyle'"
            (click)="handleChangePath(route_path.home)">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <p matLine>Accueil</p>
          </a>
          <a mat-list-item [class]="router.url === '/'+route_path.listes ? 'buttonStyle-active':'buttonStyle'"
            (click)="handleChangePath(route_path.listes)">
            <mat-icon mat-list-icon>list</mat-icon>
            <p matLine>Listes</p>
          </a>
          <a mat-list-item [class]="router.url === '/'+route_path.formulaire ? 'buttonStyle-active':'buttonStyle'"
            (click)="handleChangePath(route_path.formulaire)">
            <mat-icon mat-list-icon>add_circle</mat-icon>
            <p matLine>Ajouter</p>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="main-container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

<div class="mobile-container-root" *ngIf="!isNotConected && bpObs === 'XS'">
  <div class="mobilecontiner">
    <router-outlet ></router-outlet>
  </div>
  <app-mobile-tab [IsSyncronising]="syncState" [IsConnected]="isConnected"></app-mobile-tab>
</div>

<div class="state-container">
  <p *ngIf="syncState === 0 || syncState === 1" class="dodStyle" [style]="isConnected ? 'color: green':'color: red;'">•</p>
  <mat-progress-bar style="width: 25%; margin-right: 16px;" *ngIf="syncState === 2" mode="indeterminate"></mat-progress-bar>
  <p style="color: white;margin: 0;">{{getStatueText(syncState)}}</p>
</div>
