.drowerstyle {
  width: 148px;
  background-color: #fe711a;
  padding: 0px !important;
  border: 0px !important;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 6px 2px 10px -2px rgba(0, 0, 0, 0.36);
}
.state-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25px;
  background-color: black;
  z-index: 222;
}
.dodStyle {
  font-size: 50px;
  margin: 0;
  margin-right: 5px;
}
.nav-header {
  background-color: #00000044;
}
.buttonStyle {
  color: white;
}
.buttonStyle-active {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}
.main-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.contentcontainer {
  width: 100%;
  height: calc(100% - 65px);
}
.mobilecontiner {
  width: 100%;
  height: calc(100vh - 65px);
  overflow-y: auto;
  overflow-x: hidden;
}
.mobile-container-root{
  width: 100%;
  height: 100vh;
}
