.enqueteurIdContainer {
    display: flex;
    padding-left: 25px;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    /* background-color: rgb(115, 255, 0); */
}
::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background-color: #fe711a;
    border-radius: 50px;
}

.enqueteColumn{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.stepperName{
    color: #fe711a;
    font-size: 22px;
    font-weight: 500;

}

.stepperNameInt{
    color: #ffffff;
    font-size: 18px;
    background-color: #fe711a;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    margin-right: 15px;

}

.enTeteInput{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 450;
    opacity: 0.7;
    color: #fe711a;
}

.outlineApparence1{
    margin: 0;
    padding: 0;
}

.outlineApparence{
    margin: 0;
    padding: 0;
    margin-top: -18px;
}

.formRow{
    display: flex;
    flex-direction: row;
}

.nomPrenom{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttonNextCa{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.buttonNexta{
    background-color:#fe711a ;
    color: white;
    width: 150px;
    margin-right: 15px;
}

::ng-deep.mat-input-element {
    color: grey !important;

}

::ng-deep.mat-form-field-label {
      color: grey  !important;
}


::ng-deep.mat-focused .mat-input-element {
    color: grey !important;
}

::ng-deep.mat-focused .mat-form-field-label {
    color: grey !important;
}

::ng-deep.mat-form-field-outline {
    background-color: white  !important;
    border-radius: 5px;
}

::ng-deep.mat-focused .mat-form-field-outline {
    color: #fe711a  !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mobile-root {
    width: 100%;
    height: 100vh;
}