<div style="padding-right: 15px;" *ngIf="bpObs !== 'XS'">
  <p class="enTeteInput" style="text-align: center;">Date et heure d'enquête :</p>
  <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
    <mat-form-field class="outlineApparence1" appearance="outline">
      <input name="datas1start" [(ngModel)]="formData.start_date" matInput [ngxMatDatetimePicker]="picker" placeholder="Choisissez la date et l'heure" [formControl]="myControl" [min]="minDate" [max]="maxDate" [disabled]="startDateSelectDisabled">
      <mat-datepicker-toggle style="color: #fe711a;" matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="startDateSelectSpinnerShow"
        [showSeconds]="autheDateSelectOption?.showSeconds ?? false" [stepHour]="autheDateSelectOption?.stepHour ?? 1"
        [stepMinute]="autheDateSelectOption?.stepMinute ?? 1" [stepSecond]="autheDateSelectOption?.stepSecond ?? 1"
        [touchUi]="autheDateSelectOption?.touchUi ?? false"
        [enableMeridian]="autheDateSelectOption?.enableMeridian ?? false"
        [disableMinute]="autheDateSelectOption?.disableMinute ?? false"
        [hideTime]="autheDateSelectOption?.hideTime ?? false">
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <p class="enTeteInput">Nom de l’enqueteur :</p>
  <div class="nomPrenom">
    <mat-form-field class="outlineApparence1" appearance="outline">
      <mat-label>Nom</mat-label>
      <input [(ngModel)]="formData.name" style="text-transform: uppercase; font-size: 16px; font-weight: 450;" matInput placeholder="MADAGASIKARA">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline">
      <mat-label>Prénom(s)</mat-label>
      <input [(ngModel)]="formData.prename" style="text-transform: capitalize; font-size: 16px; font-weight: 450;" matInput placeholder="Malagasy">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline">
      <mat-label>CIN</mat-label>
      <input [(ngModel)]="formData.cin" style="font-size: 16px; font-weight: 450;" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="12" type="number" matInput placeholder="999-999-999-999">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline">
      <mat-label>ID</mat-label>
      <input [(ngModel)]="formData.id" style="text-transform: capitalize; font-size: 16px; font-weight: 450;" matInput placeholder="GasyX01">
    </mat-form-field>
  </div>

  <p class="enTeteInput">Nom du superviseur :</p>
  <div class="nomPrenom">
    <mat-form-field class="outlineApparence1" appearance="outline">
      <mat-label>Nom</mat-label>
      <input [(ngModel)]="formData.sup_name" style="text-transform: uppercase; font-size: 16px; font-weight: 450;" matInput placeholder="MADAGASIKARA">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline" id="id-last-element-for-next" >
      <mat-label>Prénom(s)</mat-label>
      <input [(ngModel)]="formData.sup_prename" style="text-transform: capitalize; font-size: 16px; font-weight: 450;" matInput placeholder="Malagasy">
    </mat-form-field>
  </div>
</div>

<!-- MOBILE -->

<div class="mobile-root" *ngIf="bpObs === 'XS'" style="height: auto !important;">
  <p class="enTeteInput" style="text-align: center;">Date et heure d'enquête :</p>
  <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
    <mat-form-field class="outlineApparence1" appearance="outline">
      <input name="datas1start" (change)="dataChange()" [(ngModel)]="formData.start_date" matInput [ngxMatDatetimePicker]="picker" placeholder="Choisissez la date et l'heure" [formControl]="myControl" [min]="minDate" [max]="maxDate" [disabled]="startDateSelectDisabled">
      <mat-datepicker-toggle style="color: #fe711a;" matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="startDateSelectSpinnerShow"
        [showSeconds]="autheDateSelectOption?.showSeconds ?? false" [stepHour]="autheDateSelectOption?.stepHour ?? 1"
        [stepMinute]="autheDateSelectOption?.stepMinute ?? 1" [stepSecond]="autheDateSelectOption?.stepSecond ?? 1"
        [touchUi]="autheDateSelectOption?.touchUi ?? false"
        [enableMeridian]="autheDateSelectOption?.enableMeridian ?? false"
        [disableMinute]="autheDateSelectOption?.disableMinute ?? false"
        [hideTime]="autheDateSelectOption?.hideTime ?? false">
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <p class="enTeteInput">Nom de l’enqueteur :</p>
  <div class="nomPrenom">
    <mat-form-field class="outlineApparence1" appearance="outline">
      <mat-label>Nom</mat-label>
      <input (change)="dataChange()" [(ngModel)]="formData.name" style="text-transform: uppercase; font-size: 16px; font-weight: 450;" matInput placeholder="MADAGASIKARA">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline">
      <mat-label>Prénom(s)</mat-label>
      <input [(ngModel)]="formData.prename" style="text-transform: capitalize; font-size: 16px; font-weight: 450;" matInput placeholder="Malagasy">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline">
      <mat-label>CIN</mat-label>
      <input [(ngModel)]="formData.cin" style="font-size: 16px; font-weight: 450;" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="12" type="number" matInput placeholder="999-999-999-999">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline">
      <mat-label>ID</mat-label>
      <input [(ngModel)]="formData.id" style="text-transform: capitalize; font-size: 16px; font-weight: 450;" matInput placeholder="GasyX01">
    </mat-form-field>
  </div>

  <p class="enTeteInput">Nom du superviseur :</p>
  <div class="nomPrenom">
    <mat-form-field class="outlineApparence1" appearance="outline">
      <mat-label>Nom</mat-label>
      <input [(ngModel)]="formData.sup_name" style="text-transform: uppercase; font-size: 16px; font-weight: 450;" matInput placeholder="MADAGASIKARA">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline" id="id-last-element-for-next">
      <mat-label>Prénom(s)</mat-label>
      <input [(ngModel)]="formData.sup_prename" style="text-transform: capitalize; font-size: 16px; font-weight: 450;" matInput placeholder="Malagasy">
    </mat-form-field>
  </div>
  <div *ngIf="bpObs === 'XS'" style="min-height: 35px;"></div>
</div>
