<div style="padding-right: 15px;">

  <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px; margin-bottom: 25px;">Accès au crédit (AC.) et affiliation aux
      associations/groupements professionnel (AA.)*</p>
  </div>

  <p class="enTeteInput1">Accès au crédit :</p>
  <div class="formRow" style="margin-bottom: 0;">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">AA01 - Est-ce que vous êtes affiliés à une association/groupement professionnel ?</p>
    </div>
    <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-checkbox [(ngModel)]="formData.aac">{{ formData.aac ? 'Oui' : 'Non'}}</mat-checkbox>
      <!-- <mat-radio-group>
        <mat-radio-button style="margin-right: 15px;" value="1">Oui</mat-radio-button>
        <mat-radio-button value="2">Non</mat-radio-button>
      </mat-radio-group> -->
    </div>
  </div>

  <div *ngIf="formData.aac"
    [style]="bpObs === 'XS' ? 'display: flex; align-content: center; flex-direction: column;' : 'display: flex; align-content: center'">
    <p>Si oui, lesquels?</p>
    <mat-form-field class="adresseForm" [style]="bpObs === 'XS' ? '' : 'margin-right: 15px;'">
      <mat-label style="display:flex; color: #fe711a;">AA02</mat-label>
      <input [(ngModel)]="formData.aacname.AA02" [disabled]="!formData.aac" type="text" matInput>
    </mat-form-field>
    <mat-form-field class="adresseForm" [style]="bpObs === 'XS' ? '' : 'margin-right: 15px;'">
      <mat-label style="display:flex; color: #fe711a;">AA03</mat-label>
      <input [(ngModel)]="formData.aacname.AA03" [disabled]="!formData.aac" type="text" matInput>
    </mat-form-field>
    <mat-form-field class="adresseForm" [style]="bpObs === 'XS' ? '' : 'margin-right: 15px;'">
      <mat-label style="display:flex; color: #fe711a;">AA04</mat-label>
      <input [(ngModel)]="formData.aacname.AA04" [disabled]="!formData.aac" type="text" matInput>
    </mat-form-field>
  </div>

  <div class="formRow" style="margin-bottom: 25px;">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">AA05 - Est-ce que vous êtes affiliés à une tontine ou AVEC</p>
    </div>
    <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-checkbox [(ngModel)]="formData.afil">{{ formData.afil ? 'Oui' : 'Non'}}</mat-checkbox>
      <!-- <mat-radio-group>
        <mat-radio-button style="margin-right: 15px;" value="1">Oui</mat-radio-button>
        <mat-radio-button value="2">Non</mat-radio-button>
      </mat-radio-group> -->
    </div>
  </div>

  <p class="enTeteInput1">Affiliation aux associations :</p>
  <div class="formRow" style="margin-bottom: 0;">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">AC01 - Est-ce que vous êtes affiliés à une IMF [O/N] ?</p>
    </div>
    <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-checkbox [(ngModel)]="formData.imf">{{ formData.imf ? 'Oui' : 'Non'}}</mat-checkbox>
      <!-- <mat-radio-group>
        <mat-radio-button style="margin-right: 15px;" value="1">Oui</mat-radio-button>
        <mat-radio-button value="2">Non</mat-radio-button>
      </mat-radio-group> -->
    </div>
  </div>
  <div *ngIf="formData.imf" style="display: flex; align-content: center;">
    <mat-form-field class="adresseForm" style="margin-right: 15px;">
      <mat-label style="display:flex; color: #fe711a;">AC02 - Si oui, lequel?</mat-label>
      <input [(ngModel)]="formData.imfname" type="text" matInput name="imfname">
    </mat-form-field>
  </div>
  <div *ngIf="formData.imf" class="formRow" style="margin-left: 25px; margin-right: 50px;">
    <div style="display: flex; flex: 2; align-items: center;">
      <label style="font-size: 16px; margin-left: 25px;">AC03 - Quel est le montant emprunté?</label>
    </div>
    <div style="display: flex; flex: 1; align-content: center;">
      <mat-form-field class="adresseForm" style="margin-left: 10px;">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">Ariary</mat-label>
        <input [(ngModel)]="formData.imfmontant" type="number" style="text-align: center;" placeholder="00" matInput
          name="imfmontant">
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="formData.imf" class="formRow" style="margin-left: 25px; margin-right: 50px; margin-bottom: 35px;">
    <div style="display: flex; flex: 2; align-items: center;">
      <label style="font-size: 16px; margin-left: 25px;">AC04 - Proportion affectée à l’agriculture</label>
    </div>
    <div style="display: flex; flex: 1; align-content: center;">
      <mat-form-field class="adresseForm" style="margin-left: 10px;">
        <mat-label style="display:flex; justify-content: center; margin-left: -20px; color: #fe711a;">%</mat-label>
        <input [(ngModel)]="formData.imfprop" type="number" style="text-align: center;" placeholder="00" matInput
          name="imfprop">
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="!formData.imf" style="display: flex; align-content: center; margin-bottom: 25px;">
    <mat-form-field class="adresseForm" style="margin-right: 15px;">
      <mat-label style="display:flex; color: #fe711a;">AC05 - Si non, pourquoi?</mat-label>
      <input [(ngModel)]="formData.notimf" type="text" matInput name="notimf">
    </mat-form-field>
  </div>

  <div style="display: flex; align-content: center;">
    <mat-form-field class="adresseForm" style="margin-right: 15px;">
      <mat-label style="display:flex; color: #fe711a;">AC06 - Autres sources de crédits ?</mat-label>
      <input [(ngModel)]="formData.authercred" type="text" matInput name="authercred">
    </mat-form-field>
  </div>

  <div class="formRow" [style]="bpObs === 'XS' ? '' : 'margin-left: 55px; margin-right: 50px;'">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">AC07 - Commerçants</p>
    </div>
    <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-checkbox [(ngModel)]="formData.commercant">{{ formData.commercant ? 'Oui' : 'Non'}}</mat-checkbox>
      <!-- <mat-radio-group>
        <mat-radio-button style="margin-right: 15px;" value="1">Oui</mat-radio-button>
        <mat-radio-button value="2">Non</mat-radio-button>
      </mat-radio-group> -->
    </div>
  </div>

  <div [class]="bpObs === 'XS' ? 'formColumn' : 'formRow'"
    [style]="bpObs === 'XS' ? '' : 'margin-left: 55px; margin-right: 50px;'">
    <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
      <p style="font-size: 16px;">AC08 - Autres</p>
    </div>
    <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
      <mat-form-field class="adresseForm" style="margin-right: 20px;" id="id-last-element-for-next-acaa">
        <mat-label>Préciser</mat-label>
        <input [(ngModel)]="formData.autre" type="text" matInput name="autre">
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="bpObs === 'XS'" style="min-height: 50px; min-width: 25px;"></div>
</div>
