<button mat-flat-button [class]="!(this.dDisabled || this.isLoading) ? 'buttonLogin' : ''" (click)="handleClick()"
  [disabled]="this.dDisabled || this.isLoading" type="button">
  <div class="loadinContainer">
    <mat-icon matPrefix *ngIf="this.preIcon && this.preIcon.length > 0 && !this.isLoading" style="color: #ffffff; margin-right: 5px; margin-left: -12px;">
      {{this.preIcon}}
    </mat-icon>

    <mat-progress-spinner *ngIf="this.isLoading" mode="indeterminate" [diameter]="25">
    </mat-progress-spinner>
    <span [style]="this.isLoading ? 'margin-left: 8px;' : ''">{{this.dLabel}}</span>

    <mat-icon matSuffix *ngIf="this.postIcon && this.postIcon.length > 0" style="color: #ffffff;">
      {{this.preIcon}}
    </mat-icon>
  </div>
</button>
