.loadinContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
  padding-left: 0px;
  padding-right: 0px;
}

.buttonLogin{
  color: #ffffff;
  background-color: #fe711a;
  font-size: 18px;
  font-weight: lighter;
}

.buttonLogin:hover{
  color: #ffffff;
  background-color: #fe711a;
  font-size: 18px;
}
