<div class="home" *ngIf="bpObs !== 'XS'">
  <!-- <button mat-raised-button class="addButton" (click)="handleOnAdd()">
    <mat-icon style="color: #ffffff; margin-left: -5px;">add_circle</mat-icon>
    AJOUTER NOUVEAU
  </button> -->
  <mat-card class="shartcontainer">
    <div class="titlecontainer">Taux de pauvreté par région</div>
    <div [loading]="oploading" echarts [options]="options"></div>
    <div class="loadingContainer" *ngIf="oploading">
      <mat-spinner ></mat-spinner>
    </div>
  </mat-card>
  <div style="display: flex; flex-direction: row; ">
    <mat-card class="shartcontainer" style="width: 100%;">
      <div class="titlecontainer">Répartition des habitants</div>
      <div [loading]="op1loading" echarts [options]="op1"></div>
      <div class="loadingContainer" *ngIf="op1loading">
        <mat-spinner ></mat-spinner>
      </div>
    </mat-card>
    <mat-card class="shartcontainer" style="width: 100%;">
      <div class="titlecontainer">Ménages identifiés</div>
      <div [loading]="op2loading" echarts [options]="op2"></div>
      <div class="loadingContainer" *ngIf="op2loading">
        <mat-spinner ></mat-spinner>
      </div>
    </mat-card>
  </div>
  <mat-card class="shartcontainer">
    <div class="titlecontainer">Progression annuelle</div>
    <div [loading]="op3loading" echarts [options]="op3"></div>
    <div class="loadingContainer" *ngIf="op3loading">
      <mat-spinner ></mat-spinner>
    </div>
  </mat-card>
  <div style="min-height: 16px;"></div>
</div>

<!-- Mobile version -->
<div class="moblile-root" *ngIf="bpObs === 'XS'">
  <div class="mob-header">
    <p style="margin: 12px">Statistiques</p>
  </div>
  <div class="mob-header-spacer"></div>
  <mat-card class="mob-card">
    <div class="mob-header-chart">
      <p style="margin: 8px">Taux de pauvreté par région</p>
    </div>
    <div [loading]="oploading" echarts [options]="options"></div>
    <div class="loadingContainer" *ngIf="oploading">
      <mat-spinner ></mat-spinner>
    </div>
  </mat-card>
  <mat-card class="mob-card">
    <div class="mob-header-chart">
      <p style="margin: 8px">Répartition des habitants</p>
    </div>
    <div [loading]="op1loading" echarts [options]="op1"></div>
    <div class="loadingContainer" *ngIf="op1loading">
      <mat-spinner ></mat-spinner>
    </div>
  </mat-card>
  <mat-card class="mob-card">
    <div class="mob-header-chart">
      <p style="margin: 8px">Ménages identifiés</p>
    </div>
    <div [loading]="op2loading" echarts [options]="op2"></div>
    <div class="loadingContainer" *ngIf="op2loading">
      <mat-spinner ></mat-spinner>
    </div>
  </mat-card>
  <mat-card class="mob-card">
    <div class="mob-header-chart">
      <p style="margin: 8px">Progression annuelle</p>
    </div>
    <div [loading]="op3loading" echarts [options]="op3"></div>
    <div class="loadingContainer" *ngIf="op3loading">
      <mat-spinner ></mat-spinner>
    </div>
  </mat-card>
  <div style="width: 100%; height: 25px;"></div>
</div>
