/*STEVE HOME*/

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);
  padding-top: 70px;
  /* background-image: url("../../../assets/images/home2.jpg");
  background-position:top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  justify-content: center; */
}
.addButton {
  display: flex;
  width: max-content;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  align-self: center;
  justify-content: center;
  background-color: rgb(0, 215, 0);
  color: #ffffff;
  font-size: 20px;
}

.addButton:hover {
  display: flex;
  width: max-content;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  align-self: center;
  justify-content: center;
  background-color: rgb(0, 150, 0);
  color: #ffffff;
  font-size: 20px;
}
.shartcontainer {
  margin: 25px 8px 8px 8px;
  padding-top: 30px !important;
}
.loadingContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.titlecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: -15px;
  left: 32px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fe711a;
  color: white;
  font-weight: 500;
  font-size: 16px;
  min-width: 250px;
  box-shadow: 6px 6px 8px -5px rgba(0, 0, 0, 0.15);
}
.moblile-root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}
.mob-card{
  overflow: hidden;
  width: 80%;
  margin: 8px;
}
.mob-header-chart{
  width: 100%;
  background-color: #fe711a;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
