<div class="root" *ngIf="bpObs !== 'XS'">
  <div class="home">

    <div class="formulaireContainer">
      <div class="stepperLeft" style="margin-top: 65px;">
        <div class="stepperLeftRow" *ngIf="curentIndex === 1">
          <div class="stepperNumber">
            <p class="stepperNumberA">1</p>

          </div>
          <div class="stepperTexte">
            <p class="stepperTexte1">ETAPE 1</p>
            <p class="stepperTexte2">L'ENQUETEUR</p>
          </div>
        </div>

        <div class="stepperLeftRow" (click)="handleSetPage(1)" *ngIf="curentIndex > 1">
          <div class="stepperNumber">
            <p class="stepperNumberA-inactive">1</p>

          </div>
          <div class="stepperTexte">
            <p class="stepperTexte1-inactive">ETAPE 1</p>
            <p class="stepperTexte2">L'ENQUETEUR</p>
          </div>
        </div>

        <div class="stepperLeftColumn" *ngIf="curentIndex > 1 && curentIndex < 13 ">
          <div class="stepperLeftRow1">
            <div class="stepperNumber">
              <p class="stepperNumberA">2</p>
            </div>
            <div class="stepperTexte">
              <p class="stepperTexte1">ETAPE 2</p>
              <p class="stepperTexte2">LE MENAGE</p>
            </div>
          </div>

          <div class="stepperLefStep2">
            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 2" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="IG" class="stepperLefStep2Text" (click)="handleSetPage(2)">ID Geo.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 3" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="IDM" class="stepperLefStep2Text" (click)="handleSetPage(3)"> ID Men.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 4" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="H" class="stepperLefStep2Text" (click)="handleSetPage(4)"> Hab.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 5" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="AP" class="stepperLefStep2Text" (click)="handleSetPage(5)"> A.P. *</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 6" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="SR_PT" class="stepperLefStep2Text" (click)="handleSetPage(6)"> S.R. ET P.T.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 7" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="DA" class="stepperLefStep2Text" (click)="handleSetPage(7)"> Dep. Agri. *</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 8" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="AC_AA" class="stepperLefStep2Text" (click)="handleSetPage(8)"> A.C. et A.A.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 9" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="ID1" class="stepperLefStep2Text" (click)="handleSetPage(9)"> ID Men.*</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 10" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle
              </mat-icon>
              <p id="ER" class="stepperLefStep2Text" (click)="handleSetPage(10)"> EDUC. ET RES.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 11" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle
              </mat-icon>
              <p id="EM" class="stepperLefStep2Text" (click)="handleSetPage(11)"> E.P.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 12" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle
              </mat-icon>
              <p id="HMC" class="stepperLefStep2Text" (click)="handleSetPage(12)"> H. et M.C.</p>
            </div>

          </div>
        </div>

        <div class="stepperLeftColumn" (click)="handleSetPage(2)" *ngIf="curentIndex === 1 || curentIndex === 13">
          <div class="stepperLeftRow1">
            <div class="stepperNumber">
              <p class="stepperNumberA-inactive">2</p>
            </div>
            <div class="stepperTexte">
              <p class="stepperTexte1-inactive">ETAPE 2</p>
              <p class="stepperTexte2">LE MENAGE</p>
            </div>
          </div>

          <div class="stepperLefStep2" *ngIf="curentIndex === 1">
            <p id="IG" class="stepperLefStep2Text" (click)="handleSetPage(2)"> ID Geo.</p>
            <p id="IDM" class="stepperLefStep2Text" (click)="handleSetPage(3)"> ID Men.</p>
            <p id="H" class="stepperLefStep2Text" (click)="handleSetPage(4)"> Hab.</p>
            <p id="AP" class="stepperLefStep2Text" (click)="handleSetPage(5)"> A.P. *</p>
            <p id="SR_PT" class="stepperLefStep2Text" (click)="handleSetPage(6)"> S.R. ET P.T.</p>
            <p id="DA" class="stepperLefStep2Text" (click)="handleSetPage(7)"> Dep. Agri. *</p>
            <p id="AC_AA" class="stepperLefStep2Text" (click)="handleSetPage(8)"> A.C. et A.A.</p>
            <p id="ID1" class="stepperLefStep2Text" (click)="handleSetPage(9)"> ID Men.*</p>
            <p id="ER" class="stepperLefStep2Text" (click)="handleSetPage(10)"> EDUC. ET RES.</p>
            <p id="EM" class="stepperLefStep2Text" (click)="handleSetPage(11)"> E.P.</p>
            <p id="HMC" class="stepperLefStep2Text" (click)="handleSetPage(12)"> H. et M.C.</p>
          </div>

          <div class="stepperLefStep2" *ngIf="curentIndex === 13">
            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 2" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="IG" class="stepperLefStep2Text" (click)="handleSetPage(2)">ID Geo.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 3" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="IDM" class="stepperLefStep2Text" (click)="handleSetPage(3)"> ID Men.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 4" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="H" class="stepperLefStep2Text" (click)="handleSetPage(4)"> Hab.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 5" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="AP" class="stepperLefStep2Text" (click)="handleSetPage(5)"> A.P. *</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 6" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="SR_PT" class="stepperLefStep2Text" (click)="handleSetPage(6)"> S.R. ET P.T.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 7" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="DA" class="stepperLefStep2Text" (click)="handleSetPage(7)"> Dep. Agri. *</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 8" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="AC_AA" class="stepperLefStep2Text" (click)="handleSetPage(8)"> A.C. et A.A.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 9" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle</mat-icon>
              <p id="ID1" class="stepperLefStep2Text" (click)="handleSetPage(9)"> ID Men.*</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 10" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle
              </mat-icon>
              <p id="ER" class="stepperLefStep2Text" (click)="handleSetPage(10)"> EDUC. ET RES.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 11" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle
              </mat-icon>
              <p id="EM" class="stepperLefStep2Text" (click)="handleSetPage(11)"> E.P.</p>
            </div>

            <div style="display: flex; flex-direction: row;">
              <mat-icon *ngIf="curentIndex > 12" style="color: rgb(0, 215, 0); margin-top: -5px;">check_circle
              </mat-icon>
              <p id="HMC" class="stepperLefStep2Text" (click)="handleSetPage(12)"> H. et M.C.</p>
            </div>

          </div>
        </div>


        <div class="stepperLeftRow" *ngIf="curentIndex === 13">
          <div class="stepperNumber">
            <p class="stepperNumberA">3</p>
          </div>
          <div class="stepperTexte">
            <p class="stepperTexte1">ETAPE 3</p>
            <p class="stepperTexte2">VALIDATION</p>
          </div>
        </div>

        <div class="stepperLeftRow" (click)="handleSetPage(13)" *ngIf="curentIndex !== 13">
          <div class="stepperNumber">
            <p class="stepperNumberA-inactive">3</p>
          </div>
          <div class="stepperTexte">
            <p class="stepperTexte1-inactive">ETAPE 3</p>
            <p class="stepperTexte2">VALIDATION</p>
          </div>
        </div>


      </div>

      <div class="formulaireCenter"
        style="background-image: url(assets/images/background.svg); margin-top: 65px;margin-bottom: 10px;">
        <div class="enqueteurIdContainer">
          <mat-card style="width: 80%; height: 100vh; flex:1; background-color: rgb(255, 255, 255);">
            <div class="enqueteColumn">
              <div style="display: flex; flex-direction: row; align-items: center;">
                <p class="stepperNameInt">{{curentIndex.toString().length < 2 ? '0' +curentIndex : curentIndex}}</p>
                    <p class="stepperName" style="text-transform: uppercase;">{{step_list[curentIndex-1]}}</p>
              </div>

              <mat-progress-bar mode="determinate" [value]="(curentIndex * 100)/13"
                style="margin-bottom: 15px; border-radius: 50px; height: 9px;">
              </mat-progress-bar>

              <div #stepcontainer id="stepcontainer-selector"
                style="max-height: 60vh; min-height: 60vh; overflow-y: auto; overflow-x: hidden;">
                <app-steps-selector [onViewInit]="handdleScrool" [index]="curentIndex" [disable_next]="disableNext"
                  [all_data]="formdata">
                </app-steps-selector>
              </div>


              <div *ngIf="!savingData" class="buttonNextCa">
                <button *ngIf="curentIndex > 1" mat-raised-button class="buttonNexta"
                  (click)="handlePreviouse();">PRECEDENT</button>
                <button *ngIf="curentIndex < 13" mat-raised-button class="buttonNexta" (click)="handleNext();"
                  [disabled]="disableNext">SUIVANT</button>
                <button *ngIf="curentIndex === 13" mat-raised-button class="buttonNexta" (click)="handleSaveData()"
                  [disabled]="disableNext">TERMINER</button>
              </div>

              <div *ngIf="savingData" class="buttonNextCa" style="align-items: center;">
                <mat-spinner [diameter]="37" color="primary"></mat-spinner>
                <p style="color: #fe711a; font-weight: bold; margin-left: 16px; margin-right: 16px;">Enregistrement en
                  cour...</p>
              </div>

              <div class="buttonNextCa">
                <p *ngIf="disableNext" style="color: red;">{{all_text._complet_data}}</p>
              </div>

            </div>
          </mat-card>
        </div>

      </div>

      <div class="detailsRight" style="margin-top: 65px;" *ngIf="curentIndex === 1">
        <div class="detailsRightRow">
          <div class="detailsRightNumber">
            <p class="detailsRightNumberA">1</p>
          </div>
          <div class="detailsRightTexte">
            <p class="detailsRightTexte1">ETAPE 1</p>
            <p class="detailsRightTexte2">L'ENQUETEUR</p>
          </div>
        </div>

        <div class="lorem">
          <img class="loremImg" src="assets/images/enqueteur.svg">
          <p class="loremTexte">
            Identification de l'enqueteur
          </p>
        </div>

      </div>

      <div class="detailsRight" style="margin-top: 65px;" *ngIf="curentIndex > 1 && curentIndex < 13">
        <div class="detailsRightRow">
          <div class="detailsRightNumber">
            <p class="detailsRightNumberA">2</p>
          </div>
          <div class="detailsRightTexte">
            <p class="detailsRightTexte1">ETAPE 2</p>
            <p class="detailsRightTexte2">LE MENAGE</p>
          </div>
        </div>

        <div class="lorem">
          <img class="loremImg" src="assets/images/menage.svg">
          <p class="loremTexte">
            Identification du ménage
          </p>
        </div>

      </div>

      <div class="detailsRight" style="margin-top: 65px;" *ngIf="curentIndex === 13">
        <div class="detailsRightRow">
          <div class="detailsRightNumber">
            <p class="detailsRightNumberA">3</p>
          </div>
          <div class="detailsRightTexte">
            <p class="detailsRightTexte1">ETAPE 3</p>
            <p class="detailsRightTexte2">VALIDATION</p>
          </div>
        </div>

        <div class="lorem">
          <img class="loremImg" src="assets/images/validation.svg">
          <p class="loremTexte">
            Validation des données collectées
          </p>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- mobile version -->

<div class="mobile-root-sec" *ngIf="bpObs === 'XS'">
  <div class="mob-header">
    <p class="stepperNameIntMob">{{curentIndex.toString().length < 2 ? '0' +curentIndex : curentIndex}}</p>
        <p class="stepperNameMob" style="text-transform: uppercase; margin: 0px;">{{step_list[curentIndex-1]}}</p>
  </div>
  <div class="mob-header-spacer"></div>
  <div class="list-content-mob" id="stepcontainer-selector">
    <!-- <div class="steplist-mobile">
      <div matRipple *ngFor="let step of step_list; let i = index"
        [class]="(curentIndex === i+1) ? 'step-button-active':'step-button'" (click)="handleSetPage(i+1)">
        <p>{{i+1}}</p>
      </div>
    </div> -->
    <div #stepcontainerMob class="step-form">
      <app-steps-selector style="width: 100%;" [index]="curentIndex" [disable_next]="disableNext" [all_data]="formdata"
        [onViewInit]="handdleScrool">
      </app-steps-selector>
    </div>
  </div>
  <div class="mobile-button" style="width: 100%;">
    <div *ngIf="curentIndex > 1 && !savingData"
      style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <button style="margin: 0 !important;" mat-flat-button class="buttonNexta"
        (click)="handlePreviouse()">PRECEDENT</button>
    </div>
    <div *ngIf="curentIndex < 13 && !savingData"
      style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <button style="margin: 0 !important;" mat-flat-button class="buttonNexta" (click)="handleNext()"
        [disabled]="disableNext">SUIVANT</button>
    </div>
    <div *ngIf="curentIndex === 13 && !savingData"
      style=" width: 100%;display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <button style="margin: 0 !important;" mat-flat-button class="buttonNexta" (click)="handleSaveData()"
        [disabled]="disableNext">TERMINER</button>
    </div>
    <div *ngIf="savingData" class="buttonNextCa" style="align-items: center;">
      <mat-spinner [diameter]="37" color="primary"></mat-spinner>
      <p style="color: #fe711a; font-weight: bold; margin-left: 16px; margin-right: 16px;">Enregistrement en
        cour...</p>
    </div>
  </div>
</div>
