.root {
  background-color: white;
  width: 100%;
  height: 100vh;
}

.formulaireContainer {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.stepperLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: whitesmoke;
}

.stepperLeftRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
  user-select: none;
  opacity: 0.7;
}

.stepperLeftRow:hover {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
  user-select: none;
  opacity: 1;
}

.stepperLeftRow1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
  user-select: none;
  opacity: 0.7;
}

.stepperLeftRow1:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
  user-select: none;
  opacity: 1;
}

.stepperLeftColumn {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.stepperLefStep2 {
  display: flex;
  flex-direction: column;
  margin-left: 110px;
}

.stepperLefStep2Text {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: grey;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.stepperLefStep2Text:hover {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: grey;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.stepperNumberA {
  background-color: #006086;
  color: white;
  width: 50px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  font-size: 20px;
  margin-right: 15px;
}

.stepperNumberA-inactive {
  background-color: grey;
  color: white;
  width: 50px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  font-size: 20px;
  margin-right: 15px;
}

.stepperTexte1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #006086;
}

.stepperTexte1-inactive {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: grey;
}

.stepperTexte2 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.formulaireCenter {
  display: flex;
  flex: 3;
  background-repeat: no-repeat;
  background-position: bottom;
  align-items: center;
}

.detailsRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fe711a;
}

.detailsRightRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 50px;
  align-content: center;
  justify-content: center;
}

.detailsRightNumberA {
  color: white;
  font-size: 75px;
}

.detailsRightTexte {
  margin-left: 10px;
}

.detailsRightTexte1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: white;
}

.detailsRightTexte2 {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: white;
}
.lorem {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 15px;
  color: white;
  align-items: center;
}

.loremImg {
  width: 35%;
  margin-bottom: 15px;
}

.buttonNextC {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.buttonNext {
  border-color: #ffffffa4 !important;
  color: white;
  width: 120px;
  margin-left: 5px;
  margin-right: 5px;
}
.enqueteurIdContainer {
  display: flex;
  padding-left: 25px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  /* background-color: rgb(115, 255, 0); */
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fe711a;
  border-radius: 50px;
}

.enqueteColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.stepperName {
  color: #fe711a;
  font-size: 22px;
  font-weight: 500;
}
.stepperNameMob {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.stepperNameInt {
  color: #ffffff;
  font-size: 18px;
  background-color: #fe711a;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  margin-right: 15px;
  text-align: center;
}

.enTeteInput {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 450;
  opacity: 0.7;
  color: #fe711a;
}

.outlineApparence1 {
  margin: 0;
  padding: 0;
}

.outlineApparence {
  margin: 0;
  padding: 0;
  margin-top: -18px;
}

.formRow {
  display: flex;
  flex-direction: row;
}

.nomPrenom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttonNextCa {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.buttonNexta {
  background-color: #fe711a;
  color: white;
  width: 150px;
  margin-right: 15px;
}

::ng-deep.mat-input-element {
  color: grey !important;
}

::ng-deep.mat-form-field-label {
  color: grey !important;
}

::ng-deep.mat-focused .mat-input-element {
  color: grey !important;
}

::ng-deep.mat-focused .mat-form-field-label {
  color: grey !important;
}

::ng-deep.mat-form-field-outline {
  background-color: white !important;
  border-radius: 5px;
}

::ng-deep.mat-focused .mat-form-field-outline {
  color: #fe711a !important;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.mobile-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.mob-title {
  width: 100%;
  background-color: #fe711a;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stepperNameIntMob {
  color: #fe711a;
  font-size: 16px;
  border-radius: 100px;
  font-weight: 500;
  text-align: center;
  background-color: #ffffff;
  border-color: white;
  border-style: solid;
  padding: 8px;
  border-width: 1px;
  margin: 8px;
}
.mobstepcontainer {
  width: 100%; 
  display: flex;
  flex-direction: row;
  align-items: center;
}
.steplist-mobile {
  width: 35px;
  height: 100%;
  background-color: rgb(194, 194, 194);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fe711a;
  width: 100%;
  height: 100%;
}
.step-button-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fe711a;
  background-color: white;
  width: 100%;
  height: 100%;
}

.step-form {
  display: flex;
  width: 95%;
  height: 100%;
  overflow-x: hidden;
  padding-top: 15px;
  padding: 8px;
}

.mobile-button {
  margin-bottom: 30px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list-content-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
}
