<div class="root" id="recoverBg">
  <div class="main-container">
    <mat-card class="cardContainerR">

      <div *ngIf="recover_step === 1" class="form-container">
        <mat-icon color="primary" style="font-size: 50px; width: 50px; height: 50px;">replay</mat-icon>
        <p class="title-text">{{all_text._renewpass}}</p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{all_text._email}}</mat-label>
          <input matInput [(ngModel)]="this.user_mail" [formControl]="uemail" required>
          <mat-error *ngIf="uemail.invalid">{{all_text._eincorect}}</mat-error>
          <mat-icon matSuffix style="color: #fe711a;">email</mat-icon>
        </mat-form-field>
        <app-default-button [dDisabled]="uemail.invalid" [preIcon]="'replay'" [isLoading]="is_loading"
          [onClick]="handleResetPass" [dlabel]="all_text._resetpass">
        </app-default-button>
        <p class="annuler-text" (click)="handleCancel()">{{all_text._cancel}}</p>
      </div>

      <div *ngIf="recover_step === 2" class="form-container">
        <mat-icon color="primary" style="font-size: 50px; width: 50px; height: 50px;">replay</mat-icon>
        <p class="sec-text">{{all_text._ecodemail}}</p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <input matInput [(ngModel)]="this.user_code">
        </mat-form-field>
        <app-default-button [dDisabled]="user_code.length <= 0" [isLoading]="check_code_loading"
          [onClick]="handleCheckCode" [dlabel]="all_text._resetpass">
        </app-default-button>
        <p *ngIf="!mail_resent" class="annuler-text">{{all_text._resend_mail.split('$')[0]}}
          <span (click)="handleResendMail()"
            style="font-weight: bold; cursor: pointer;">{{all_text._resend_mail.split('$')[1]}}
          </span>
        </p>
        <p *ngIf="mail_resent" class="annuler-text" >{{all_text._mailresent}}</p>
        <p class="annuler-text" (click)="handleCancel()">{{all_text._cancel}}</p>
      </div>

      <div *ngIf="recover_step === 3" class="form-container">
        <mat-icon color="primary" style="font-size: 50px; width: 50px; height: 50px;">replay</mat-icon>
        <p class="sec-text">{{all_text._new_pass}}</p>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{all_text._newpass}}</mat-label>
          <input [type]="pass_hide ? 'password' : 'text'" [formControl]="upass" matInput [(ngModel)]="this.new_pass"
            required />
          <mat-error *ngIf="upass.invalid">{{all_text._champ_requis}}</mat-error>
          <button mat-icon-button matSuffix (click)="pass_hide = !pass_hide">
            <mat-icon style="color: #fe711a;">{{this.pass_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{all_text._confirm_pass}}</mat-label>
          <input [type]="pass_hide1 ? 'password' : 'text'" matInput [(ngModel)]="this.confirm_pass" />
          <mat-error *ngIf="upass.invalid">{{all_text._pas_not_match}}</mat-error>
          <button mat-icon-button matSuffix (click)="pass_hide1 = !pass_hide1">
            <mat-icon style="color: #fe711a;">{{this.pass_hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>

        <app-default-button [dDisabled]="user_code.length <= 0" [isLoading]="save_loading"
          [onClick]="handleCheckCode" [dlabel]="all_text._save">
        </app-default-button>
        <p class="annuler-text" (click)="handleCancel()">{{all_text._cancel}}</p>
      </div>

    </mat-card>
  </div>
</div>
