.root {
  width: 100%;
  height: 100vh;
}

#recoverBg{
  background-image: url("../../../assets/images/allBackGround.svg");
  background-position: top;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  /* background: rgb(255, 131, 45);
  background: linear-gradient(
    11deg,
    rgba(255, 131, 45, 1) 0%,
    rgba(255, 119, 219, 1) 100%
  ); */
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cardContainerR{
  display: flex;
  justify-content: center;
  min-width: 30%;

}

.form-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}
.title-text{
  color: #ffa42e;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}
.sec-text{
  color: #ffa42e;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin-top: 8px;
}
.annuler-text{
  color: #ffa42e;
  font-size: small;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 0px;
}
