<div style="padding-right: 15px;">

    <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px;">EMPLOI PRINCIPAL</p>
    </div>

    <div class="enqueteColumn">
        <div style="display: flex; flex: 2; padding-top:10px; align-items: center;">
          <p style="font-size: 16px;">M19 - Pour les plus de 5 ans, quel est votre emploi principal ?</p>
        </div>
        <div >
        <mat-radio-group style="display: flex; flex-direction: column;" [(ngModel)]="formData.principa_empl">
            <mat-radio-button style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="Salarié de la fonction public">
            Salarié de la fonction public
            </mat-radio-button>
            <mat-radio-button style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="Salarié dans le secteur privé">
            Salarié dans le secteur privé
            </mat-radio-button>
            <mat-radio-button style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="Autre emploi">
             Autre emploi
            </mat-radio-button>
            <mat-radio-button style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="Travailleur independent">
            Travailleur independent
            </mat-radio-button>
            <mat-radio-button style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="Stagiaire/apprenti">
            Stagiaire/apprenti
            </mat-radio-button>
            <mat-radio-button style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="A la recherche d'un emploi">
            A la recherche d'un emploi
            </mat-radio-button>
            <mat-radio-button style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="Etudiant">
            Etudiant
            </mat-radio-button>
            <mat-radio-button style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="Retraité">
            Retraité
            </mat-radio-button>
            <mat-radio-button style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="S'occupe de la maison/famille">
            S'occupe de la maison/famille
            </mat-radio-button>
            <mat-radio-button id="id-last-element-for-next-ep" style="margin-bottom: 10px; margin-left: 15px; font-size: 16px;" value="Incapacité actuelle de travailler">
            Incapacité actuelle de travailler
            </mat-radio-button>
        </mat-radio-group>
        </div>
    </div>

    <div *ngIf="bpObs === 'XS'" style="min-height: 50px; min-width: 25px;"></div>

</div>



