<div [style]="bpObs !== 'XS' ? 'margin-right: 15px;' : ''">
  <p class="enTeteInput">Adresse :</p>

  <mat-form-field class="adresseForm1" appearance="outline">
    <mat-label>Lotissement</mat-label>
    <input [(ngModel)]="formData.lotis" style="text-transform: uppercase;" matInput>
  </mat-form-field>

  <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;" appearance="outline" *ngIf="!(province_list.length <= 0)">
    <mat-label class="orange">Province</mat-label>
    <mat-select [(ngModel)]="formData.province" name="province" (valueChange)="onProvenceChange($event)" >
      <mat-option *ngFor="let item of province_list" [value]="item">{{item.lib}}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;" appearance="outline" *ngIf="!(region_list.length <= 0)">
    <mat-label class="orange">Région</mat-label>
    <mat-select [(ngModel)]="formData.region" name="region" (valueChange)="onRegienChange($event)" >
      <mat-option *ngFor="let item of region_list" [value]="item">{{item.lib}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;" appearance="outline" *ngIf="!(district_list.length <= 0)">
    <mat-label class="orange">District</mat-label>
    <mat-select [(ngModel)]="formData.district" name="district" (valueChange)="onDistChange($event)" >
      <mat-option *ngFor="let item of district_list" [value]="item">{{item.lib}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;" appearance="outline" *ngIf="!(commune_list.length <= 0)">
    <mat-label class="orange">Commune</mat-label>
    <mat-select [(ngModel)]="formData.commune" name="commune" (valueChange)="onCommuneChange($event)" >
      <mat-option *ngFor="let item of commune_list" [value]="item">{{item.lib}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%; font-size: 16px;margin-right: 25px;" appearance="outline" *ngIf="!(fokontany_list.length <= 0)">
    <mat-label class="orange">Fokontany</mat-label>
    <mat-select [(ngModel)]="formData.fokontany" name="fokontany" (valueChange)="onFokontanyChange($event)">
      <mat-option *ngFor="let item of fokontany_list" [value]="item">{{item.lib}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="isLoading" style="display: flex; flex-direction: column; align-items: center; margin: 16px;">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>

  <mat-form-field style="width: 100%; font-size: 16px;" appearance="outline">
    <mat-label>Milieu</mat-label>
    <mat-select [(ngModel)]="formData.milieu">
      <mat-option value="Grand Centre Urbain">Grand Centre Urbain</mat-option>
      <mat-option value="Centre Urbain secondaire">Centre Urbain secondaire</mat-option>
      <mat-option value="Rural">Rural</mat-option>
    </mat-select>
  </mat-form-field>

  <p class="enTeteInput">Numéro :</p>
  <form>
    <mat-form-field style="width: 100%; font-size: 16px;" id="id-last-element-for-next-ig">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+261 &nbsp;</span>
      <input [(ngModel)]="formData.numero" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="9" matInput placeholder="31 23 456 78" name="s2tel">
      <mat-icon style="cursor: pointer; color: #fe711a;" matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>
  <div *ngIf="bpObs === 'XS'" style="min-height: 35px;"></div>
</div>
