<div [style]="bpObs ==='XS' ? '' : 'padding-right: 15px;'">

  <div class="enqueteColumn">
    <p class="enTeteInput" style="margin-right: 10px;">Nom des personnes dans le ménage*</p>
    <p style="color:rgba(128, 128, 128, 0.5);">(aussi bien les visiteurs que les membres absents durant l'interview)</p>
  </div>

  <!----ETO MILA ASINA CHIPS-->
  <div [style]="bpObs === 'XS' ? 'flex-direction: column;' : 'flex-direction: row;' ">
    <mat-form-field class="example-chip-list" [style]="bpObs === 'XS' ? 'width: 100%' : 'width: 80%' " appearance="outline">
      <mat-label *ngIf="formData && formData.length > 0">Liste des personnes dans le ménage</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of formData; let i = index" (click)="handleChipsClick(i)" [selectable]="true"
        [removable]="true" (removed)="handleDeletElement(i)">
          {{'Menage '+i}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 20px;">
      <app-default-button [preIcon]="'add_circle'" [dlabel]="'Ajouter'" [onClick]="handleAddMenage"></app-default-button>
    </div>
  </div>


  <div *ngIf="formData.length > 0" class="nomPrenom">
    <mat-form-field class="outlineApparence1" appearance="outline">
      <mat-label>M1a - Nom</mat-label>
      <input [(ngModel)]="formData[curentIndex].nom" name="nom"
        style="text-transform: uppercase; font-size: 16px; font-weight: 450;" matInput placeholder="MADAGASIKARA">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline">
      <mat-label>M1b - Prénom(s)</mat-label>
      <input [(ngModel)]="formData[curentIndex].prenom" name="prenom"
        style="text-transform: capitalize; font-size: 16px; font-weight: 450;" matInput placeholder="MADAGASIKARA">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline">
      <mat-label>M1c - Surnom</mat-label>
      <input [(ngModel)]="formData[curentIndex].surnom" name="surnom"
        style="text-transform: capitalize; font-size: 16px; font-weight: 450;" matInput placeholder="Malagasy">
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline"
      style="width: 100%; font-size: 16px; margin-bottom: -20px;">
      <mat-label>M2 - Statut de résidence</mat-label>
      <mat-select [(ngModel)]="formData[curentIndex].resstat" name="resstat">
        <mat-option value="Présent">Présent</mat-option>
        <mat-option value="Absent">Absent</mat-option>
        <mat-option value="Visiteur">Visiteur</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="formRow" style="margin-bottom: 20px; margin-left: 5px;">
      <div style="display: flex; padding-top:10px; align-items: center; margin-right: 15px;">
        <p style="font-size: 16px;">M3 - Sexe :</p>
      </div>
      <div style="display: flex; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData[curentIndex].sex" name="sex">
          <mat-radio-button style="margin-right: 15px;" value="Homme">Homme</mat-radio-button>
          <mat-radio-button value="Femme">Femme</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <mat-form-field class="outlineApparence" appearance="outline" style="margin-bottom: -20px;">
      <mat-label>M4 - Age</mat-label>
      <input [(ngModel)]="formData[curentIndex].age" name="age" type="number"
        style="text-transform: uppercase; font-size: 16px; font-weight: 450;" matInput placeholder="01">
    </mat-form-field>

    <div [class]="bpObs === 'XS' ? 'formCol' : 'formRow'" style="margin-bottom: 20px; margin-left: 5px;">
      <div style="display: flex; padding-top:10px; align-items: center; margin-right: 15px;">
        <p style="font-size: 16px;">M5 - Avez-vous une copie d'acte de naissance?</p>
      </div>
      <div style="display: flex; align-items: center; justify-content: center;">
        <mat-radio-group *ngIf="bpObs !== 'XS'" [(ngModel)]="formData[curentIndex].cpan" name="cpan">
          <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Oui">Oui</mat-radio-button>
          <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Non">Non</mat-radio-button>
          <mat-radio-button value="Ne sait pas">Ne sait pas</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group *ngIf="bpObs === 'XS'" [(ngModel)]="formData[curentIndex].cpan" name="cpan">
          <mat-radio-button style="margin-right: 15px;" value="Oui">Oui</mat-radio-button>
          <mat-radio-button style="margin-right: 15px;" value="Non">Non</mat-radio-button>
          <mat-radio-button value="Ne sait pas">Ne sait pas</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div [class]="bpObs === 'XS' ? 'formCol' : 'formRow'" style="margin-bottom: 20px; margin-left: 5px;">
      <div style="display: flex; padding-top:10px; align-items: center; margin-right: 15px;">
        <p style="font-size: 16px;">M6a - Pour les +18 ans, avez-vous un CIN?</p>
      </div>
      <div style="display: flex; align-items: center; justify-content: center;">
        <mat-radio-group *ngIf="bpObs !== 'XS'" [(ngModel)]="formData[curentIndex].cin.statue" name="cpancin">
          <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Oui">Oui</mat-radio-button>
          <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Non">Non</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group *ngIf="bpObs === 'XS'" [(ngModel)]="formData[curentIndex].cin.statue" name="cpancin">
          <mat-radio-button style="margin-right: 15px;" value="Oui">Oui</mat-radio-button>
          <mat-radio-button style="margin-right: 15px;" value="Non">Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <mat-form-field *ngIf="formData[curentIndex].cin.statue === 'Oui'" class="outlineApparence" appearance="outline" style="margin-bottom: -20px;">
      <mat-label>M6b - Inscrire la CIN</mat-label>
      <input [(ngModel)]="formData[curentIndex].cin.value" name="cin" type="number"
        style="text-transform: uppercase; font-size: 16px; font-weight: 450;" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="12" type="number" matInput placeholder="999-999-999-999">
    </mat-form-field>

    <div [class]="bpObs === 'XS' ? 'formCol' : 'formRow'" style="margin-bottom: 20px; margin-left: 5px;">
      <div style="display: flex; padding-top:10px; align-items: center; margin-right: 15px;">
        <p style="font-size: 16px;">M6c - Avez-vous un identifiant unique ?</p>
      </div>
      <div style="display: flex; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData[curentIndex].enfu" name="enfu">
          <mat-radio-button style="margin-right: 15px;margin-bottom: 5px;" value="Oui">Oui</mat-radio-button>
          <mat-radio-button value="Non">Non</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="formData[curentIndex].enfu === 'Oui' && bpObs !== 'XS'" style="display: flex; width: 45%; padding-top:15px; align-content: center;">
        <mat-form-field class="adresseForm">
          <mat-label style="color: #fe711a;">M6d - Inscrire l'identifiant unique</mat-label>
          <input [(ngModel)]="formData[curentIndex].idenfu" name="idenfu" type="text" style="text-align: center;"
            matInput>
        </mat-form-field>
      </div>
      <div *ngIf="formData[curentIndex].enfu === 'Oui' && bpObs === 'XS'" style="display: flex; width: 100%; padding-top:15px; align-content: center;">
        <mat-form-field style="width: 100%;">
          <mat-label style="color: #fe711a;">M6d - Inscrire l'identifiant unique</mat-label>
          <input [(ngModel)]="formData[curentIndex].idenfu" name="idenfu" type="text" style="text-align: center;"
            matInput>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="outlineApparence" appearance="outline" style="width: 100%; font-size: 16px;">
      <mat-label>M7 - Lien avec le chef de ménage*</mat-label>
      <mat-select [(ngModel)]="formData[curentIndex].lienCDM" name="lienCDM">
        <mat-option value="Chef de ménage">Chef de ménage</mat-option>
        <mat-option value="Conjoint">Conjoint</mat-option>
        <mat-option value="Enfant">Enfant</mat-option>
        <mat-option value="Père ou mère du chef de ménage">Père ou mère du chef de ménage</mat-option>
        <mat-option value="Membre de sa famille">Membre de sa famille</mat-option>
        <mat-option value="Non membre de sa famille">Non membre de sa famille</mat-option>
        <mat-option value="Personnel domestique">Personnel domestique</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="outlineApparence" appearance="outline"
      style="width: 100%; font-size: 16px; margin-bottom: -20px;">
      <mat-label>M8 - Statut matrimonial</mat-label>
      <mat-select [(ngModel)]="formData[curentIndex].statueM" name="statueM">
        <mat-option value="Marié">Marié</mat-option>
        <mat-option value="Concubin">Concubin</mat-option>
        <mat-option value="Jamais marié">Jamais marié</mat-option>
        <mat-option value="Séparé, divorcé">Séparé, divorcé</mat-option>
        <mat-option value="Veuf/veuve">Veuf/veuve</mat-option>
      </mat-select>
    </mat-form-field>

    <div [class]="bpObs === 'XS' ? 'formCol' : 'formRow'" style="margin-bottom: 20px; margin-left: 5px;">
      <div style="display: flex; padding-top:10px; align-items: center; margin-right: 15px;">
        <p style="font-size: 16px;">M9a - Votre mère biologique est-elle dans ce ménage?</p>
      </div>
      <div style="display: flex; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData[curentIndex].menageMere" name="menageMere">
          <mat-radio-button style="margin-right: 15px; margin-bottom: 5px;" value="Oui">Oui</mat-radio-button>
          <mat-radio-button value="Non">Non</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="formData[curentIndex].menageMere === 'Oui' && bpObs !== 'XS'" style="display: flex; width: 65%; padding-top:15px; align-content: center;">
        <mat-form-field class="adresseForm">
          <mat-label style="color: #fe711a; width: 100%;">M9b - Si oui, qui est-ce?</mat-label>
          <input [(ngModel)]="formData[curentIndex].menageMereId" name="menageMereId" type="text"
            style="text-align: center; text-transform: uppercase;" matInput>
        </mat-form-field>
      </div>
      <div *ngIf="formData[curentIndex].menageMere === 'Oui' && bpObs === 'XS'" style="display: flex; width: 100%; padding-top:15px; align-content: center;">
        <mat-form-field style="width: 100%;">
          <mat-label style="color: #fe711a; width: 100%;">M9b - Si oui, qui est-ce?</mat-label>
          <input [(ngModel)]="formData[curentIndex].menageMereId" name="menageMereId" type="text"
            style="text-align: center; text-transform: uppercase;" matInput>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="outlineApparence" appearance="outline" style="width: 100%; font-size: 16px;">
      <mat-label>M10 - Etes vous orphelin?</mat-label>
      <mat-select [(ngModel)]="formData[curentIndex].orphan" name="orphan">
        <mat-option value="Orphelin de père">Orphelin de père</mat-option>
        <mat-option value="Orphelin de mère">Orphelin de mère</mat-option>
        <mat-option value="Orphelin de père et de mère">Orphelin de père et de mère</mat-option>
        <mat-option value="Non orphelin">Non orphelin</mat-option>
      </mat-select>
    </mat-form-field>

    <p class="enTeteInput1" style="margin-right: 10px;margin-bottom: 20px; text-decoration: none;">M11 - Pour les moins de 15
      ans</p>
    <mat-form-field class="outlineApparence" appearance="outline">
      <mat-label>Qui dans le ménage prend soin de cet enfant ?</mat-label>
      <input [(ngModel)]="formData[curentIndex].childMenage" name="childMenage"
        style="text-transform: uppercase; font-size: 16px; font-weight: 450;" matInput>
    </mat-form-field>

    <p class="enTeteInput1" style="margin-right: 10px;margin-bottom: -10px; text-decoration: none;">M12 - Pour les femmes et
      jeunes filles</p>
    <div [class]="bpObs === 'XS' ? 'formCol' : 'formRow'" style="margin-bottom: 20px; margin-left: 5px;">
      <div style="display: flex; padding-top:10px; align-items: center; margin-right: 15px;">
        <p style="font-size: 16px;">Etes vous enceintes maintenant?</p>
      </div>
      <div style="display: flex; align-items: center; justify-content: center;">
        <mat-radio-group [(ngModel)]="formData[curentIndex].pregnante" name="pregnante">
          <mat-radio-button style="margin-right: 15px;" value="Oui">Oui</mat-radio-button>
          <mat-radio-button value="Non">Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div id="id-last-element-for-next-id1" style="height: 2px;"></div>
  <div style="height: 16px;"></div>
  <div *ngIf="bpObs === 'XS'" style="min-height: 50px; min-width: 25px;"></div>
</div>
