.mobile-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.mobile-root-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 65px);
}
.login-gb-mob {
  background-image: url("assets/images/mobileback.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mob-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 8px 8px 8px;
}
.img-logo-mob {
  width: 80%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.36);
}
.mob-login-form{
  width: 85%;
  margin-top: 40%;
}
.mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
  background-color: white;
}
.mob-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fe711a;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 16px;
  z-index: 45;
  height: 45px;
  border-radius: 0px 0px 8px 8px;
  -webkit-box-shadow: -1px -5px 16px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -1px -5px 16px 0px rgba(0, 0, 0, 0.25);
}
.mob-header-spacer{
  min-height: 45px;
}
.mobil-div-button{
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 450;
  border-radius: 8px;
  min-width: 60px;
  color: white;
}
.active-button-bar{
  width: 100%;
  height: 3px;
  background-color: white;
}
