<div class="root" *ngIf="bpObs !== 'XS'">

  <div *ngIf="offsetFlag && !isLoading" class="photoMenageOnScroll">
    <div class="profile_picture"
      [style]="'background-image: url(\'$\');'.replace('$',getPrifilePicture(formData?.pict))">
      <!-- <img class="profileImage" [src]="formData?.pict"> -->
    </div>
    <div class="allName">
      <div class="nameF" style="display: flex;">
        <p style="text-transform: uppercase; margin-right: 10px;">{{formData?.nom}}</p> 
        <p style="text-transform: capitalize;">{{formData?.prenom}}</p>
      </div>
      <p class="nameS" style="text-transform: capitalize;">{{formData?.details?.id_data?.surnom}}</p>
      <p
        style="margin-top: 8px; margin-bottom: 8x; text-align: center; width: 100%; color: white; font-size: 20px; font-weight: 500; background-color: rgba(0, 0, 0, 0.158);">
        PMT:
        {{getPMT(formData?.barref)}}</p>
    </div>
  </div>

  <mat-progress-bar *ngIf="isLoading" mode="query" style="position: absolute; left: 0;"></mat-progress-bar>

  <div class="columnContainer">
    <div *ngIf="!isLoading && formData" class="photoMenage">
      <div class="profile_picture"
        [style]="'background-image: url(\'$\');'.replace('$',getPrifilePicture(formData?.pict))">
        <!-- <img class="profileImage" [src]="formData?.pict"> -->
      </div>
      <div class="allName" style="overflow: hidden;">
        <div class="nameF" style="display: flex; margin-bottom: -15px;">
          <p style="text-transform: uppercase; margin-right: 10px;">{{formData?.nom}}</p> 
          <p style="text-transform: capitalize;">{{formData?.prenom}}</p>
        </div>
        <p class="nameS" style="text-transform: capitalize;">{{formData?.details?.id_data?.surnom}}</p>
        <p
          style="margin-top: 8px; margin-bottom: 8x; text-align: center; width: 100%; color: white; font-size: 20px; font-weight: 500; background-color: rgba(0, 0, 0, 0.158);">
          PMT:
          {{getPMT(formData?.barref)}}</p>
      </div>
    </div>

    <div *ngIf="!isLoading && formData" class="rowContainer">
      <div class="infoGeo">

        <div class="rowStyle">
          <mat-icon class="iconStyle">person</mat-icon>
          <p class="infoStyle">CIN N° :</p>
        </div>
        <p class="dataCollected">
          {{formData.details.id_data.cin}}<br />
          <label style="color: #fe711a;">du</label> {{formData.details.id_data.datedelcin}}
        </p>

        <div class="rowStyle">
          <mat-icon class="iconStyle">home</mat-icon>
          <p class="infoStyle">Adresse :</p>
        </div>
        <p class="dataCollected" style="text-transform: uppercase;">{{formData.details.ig_data.lotis}}</p>

        <div class="rowStyle">
          <mat-icon class="iconStyle">place</mat-icon>
          <p class="infoStyle">Localisation :</p>
        </div>
        <p class="dataCollected">{{
          formData.details.ig_data.fokontany.lib + "-" +
          formData.details.ig_data.commune.lib + "-" +
          formData.details.ig_data.district.lib + "-" +
          formData.details.ig_data.region.lib + "-" +
          formData.details.ig_data.province.lib
          }}<br /></p>

        <div class="rowStyle">
          <mat-icon class="iconStyle">call</mat-icon>
          <p class="infoStyle">Numéro :</p>
        </div>
        <p class="dataCollected">+261 {{formData.details.ig_data.numero}}</p>

      </div>

      <div class="infoMenage" style="margin-bottom: 10px;">
        <div class="rowStyle1">
          <p class="numberTexte">1</p>
          <p class="infoText">Habitation :</p>
        </div>
        <p class="dataCollected1">
          H0 - Type de maison :
          <!--- io @ilany ny valiny-->{{formData.details.ch_data.housetype}}<br />
          H1 - Mur extérieur :
          <!--- io @ilany ny valiny-->{{formData.details.ch_data.extwall?.lib}}<br />
          H2 - Plafond :
          <!--- io @ilany ny valiny-->{{formData.details.ch_data.plaf?.lib}}<br />
          H3 - Nombre de pièces :
          <!--- io @ilany ny valiny--> {{formData.details.ch_data.npiech}} dont {{formData.details.ch_data.npiech}}
          habitée(s)<br />
          H4 - Surface habitée :<br />
          <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">P1 :
            {{formData.details.ch_data.p1}}m²</label><br />
          <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">P2 :
            {{formData.details.ch_data.p2}}m²</label><br />
          <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">P3 :
            {{formData.details.ch_data.p3}}m²</label><br />
          <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">P4 :
            {{formData.details.ch_data.p4}}m²</label><br />
          H5 - Plancher :
          <!--- io @ilany ny valiny-->{{formData.details.ch_data.plancer?.lib}}<br />
          H6 - Electricité :
          <!--- io @ilany ny valiny-->{{formData.details.ch_data.elect?.lib}}<br />
          H7 - Eau :
          <!--- io @ilany ny valiny-->{{formData.details.ch_data.eau?.lib}}<br />
          H8 - Toilette :
          <!--- io @ilany ny valiny-->{{formData.details.ch_data.toilet?.lib}}<br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">2</p>
          <p class="infoText">Biens possédés :</p>
        </div>
        <p class="dataCollected1">
          AP01 - Chaise (avec pied et dossier) :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Chaise (avec pied et dossier)'].qte}}<br />
          AP02 - Table (avec pied, bien droit) :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Table (avec pied, bien droit)'].qte}}<br />
          AP03 - Natte :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Natte'].qte}}<br />
          AP04 - Lampe pétrole :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Lampe pétrole'].qte}}<br />
          AP05 - Poste radio :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Poste radio'].qte}}<br />
          AP06 - Radio avec cassette, cd, mp3.. :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Radio avec cassette, cd, mp3..'].qte}}<br />
          AP07 - Téléviseur :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Téléviseur'].qte}}<br />
          AP08 - Lecteur CD DVD :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Lecteur CD DVD'].qte}}<br />
          AP09 - Bicyclette :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Bicyclette'].qte}}<br />
          AP10 - Puits :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Puits'].qte}}<br />
          AP11 - Irrigation :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Irrigation'].qte}}<br />
          AP12 - Téléphone portable :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Téléphone portable'].qte}}<br />
          AP13 - Charrue (traction animale) :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Charrue (traction animale)'].qte}}<br />
          AP14 - Charrette (traction animale) :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Charrette (traction animale)'].qte}}<br />
          AP15 - Herse (traction animale) :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Herse (traction animale)'].qte}}<br />
          AP16 - Bèche :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Bèche'].qte}}<br />
          AP17 - Stockage :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Stockage'].qte}}<br />
          AP18 - Champ ou rizière (non métayage) :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Champ ou rizière (non métayage)'].qte}}<br />
          AP19 - Zébu :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Zébu'].qte}}<br />
          AP20 - Porc :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Porc'].qte}}<br />
          AP21 - Chèvre/mouton :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Chèvre/mouton'].qte}}<br />
          AP22 - Poulet gasy :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Poulet gasy'].qte}}<br />
          AP23 - Rûche :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Rûche'].qte}}<br />
          AP24 - Matériel de pêche: pirogue, filet :
          <!--- io @ilany ny valiny--> {{formData.details.ap_data['Matériel de pêche: pirogue, filet'].qte}}<br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">3</p>
          <p class="infoText">Sources de revenus :</p>
        </div>
        <p class="dataCollected1">
          SR01 - Salaire de la fonction publique :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Salaire de la fonction publique']}}<br />
          SR02 - Salaire du secteur privé :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Salaire du secteur privé']}}<br />
          SR03 - Autre emploi :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Autre emploi']}}<br />
          SR04 - Revenus agricoles :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Revenus agricoles']}}<br />
          SR05 - Revenus d'artisanat :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr["Revenus d'artisanat"]}}<br />
          SR06 - Revenus du petit commerce :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Revenus du petit commerce']}}<br />
          SR07 - Transfert social :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Transfert social']}}<br />
          SR08 - Envoi de fonds :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Envoi de fonds']}}<br />
          SR09 - Don :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Don']}}<br />
          SR10 - Quantité de céréales moyennes récoltées en année de référence :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.qcmrar}}sacs (sacs de 50kg)<br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">4</p>
          <p class="infoText">Possession de terres :</p>
        </div>
        <p class="dataCollected1">
          PT01 - Superficie possédée :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.pt['Superficie possédée']}}Ha.<br />
          PT02 - Superficie louée ou empruntée :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.pt['Superficie louée ou empruntée']}}Ha.<br />
          PT03 - Superficie cultivée :
          <!--- io @ilany ny valiny--> {{formData.details.srpt_data.pt['Superficie cultivée']}}Ha.<br />
          <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">PT04 - Type de culture 1 :
            {{formData.details.srpt_data.tc1.type}} {{formData.details.srpt_data.tc1.qte}}Ha.</label><br />
          <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">PT05 - Type de culture 2 :
            {{formData.details.srpt_data.tc2.type}} {{formData.details.srpt_data.tc2.qte}}Ha.</label><br />
          <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">PT06 - Type de culture 3 :
            {{formData.details.srpt_data.tc3.type}} {{formData.details.srpt_data.tc3.qte}}Ha.</label><br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">5</p>
          <p class="infoText">Dépenses liées à l’agriculture :</p>
        </div>
        <p class="dataCollected1">
          <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>Types de dépenses</mat-grid-tile>
            <mat-grid-tile>Montant</mat-grid-tile>
            <mat-grid-tile>Fournisseur</mat-grid-tile>

            <mat-grid-tile>DA01 - Semences</mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Semences'].mantant}}Ar</mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Semences'].fourniseur}}</mat-grid-tile>

            <mat-grid-tile>DA02 - Main d’œuvre</mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main["Main d’œuvre (0 si main d'œuvre gratuit)"].mantant}}Ar
            </mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main["Main d’œuvre (0 si main d'œuvre gratuit)"].fourniseur}}
            </mat-grid-tile>

            <mat-grid-tile>DA03 - Pesticides</mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Pesticides'].mantant}}Ar</mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Pesticides'].fourniseur}}</mat-grid-tile>

            <mat-grid-tile>DA04 - Fertilisants</mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Fertilisants'].mantant}}Ar</mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Fertilisants'].fourniseur}}</mat-grid-tile>

            <mat-grid-tile>DA05 - Achat de matériel et équipements</mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Achat de matériel et équipements'].mantant}}Ar
            </mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Achat de matériel et équipements'].fourniseur}}
            </mat-grid-tile>

            <mat-grid-tile>DA06 - Location de matériel et équipements</mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Location de matériel et équipements'].mantant}}Ar
            </mat-grid-tile>
            <mat-grid-tile>{{formData.details.da_data.main['Location de matériel et équipements'].fourniseur}}
            </mat-grid-tile>

            <ng-container *ngFor="let autre of formData.details.da_data.autre; let i = index">
              <mat-grid-tile>{{"DA" + ((i+5)< 9 ? ("0"+(i+6)) : i+6) + " - " +autre.name}}</mat-grid-tile>
                  <mat-grid-tile>{{autre.mantant}}Ar</mat-grid-tile>
                  <mat-grid-tile>{{autre.fourniseur}}</mat-grid-tile>
            </ng-container>

          </mat-grid-list>
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">6</p>
          <p class="infoText">Accès au crédit :</p>
        </div>
        <p class="dataCollected1">
          <!--- io @ilany ny valiny-->AA01 - Affiliés à une association/groupement professionnel ? :
          {{all_text._fromBoolean(formData.details.acaa_data.aac)}}<br />
          <span *ngIf="formData.details.acaa_data.aac">{{"AA02 -
            "+formData.details.acaa_data.aacname.AA02}}</span><br />
          <span *ngIf="formData.details.acaa_data.aac">{{"AA03 -
            "+formData.details.acaa_data.aacname.AA03}}</span><br />
          <span *ngIf="formData.details.acaa_data.aac">{{"AA04 -
            "+formData.details.acaa_data.aacname.AA04}}</span><br />
          <!--- io @ilany ny valiny-->AA05 - Affiliés à une tontine ou AVEC?:
          {{all_text._fromBoolean(formData.details.acaa_data.afil)}}<br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">7</p>
          <p class="infoText">Affiliation aux associations :</p>
        </div>
        <p class="dataCollected1">
          <!--- SI OUI-->AC01 - Affiliés à une IMF [O/N] ?: {{all_text._fromBoolean(formData.details.acaa_data.imf)}}
          <br />
          <span *ngIf="formData.details.acaa_data.imf">
            AC02 - {{formData.details.acaa_data.imfname}}/ AC03 - Montant emprunté:
            {{formData.details.acaa_data.imfmontant}} / AC04 - Proportion affectée à l’agriculture:
            {{formData.details.acaa_data.imfprop}}
          </span><br />
          <span *ngIf="!formData.details.acaa_data.imf">
            AC05 - Motif: {{formData.details.acaa_data.notimf}}
          </span> <br />
          <!--- SI NON-->AC06 - Autre sources de crédits:<br />
          {{formData.details.acaa_data.authercred}}<br />
          AC07 - Commerçants?: {{formData.details.acaa_data.commercant}}
          <!--- SI AUTRE-->AC08 - Autres: <br /> {{formData.details.acaa_data.autre}}
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">8</p>
          <p class="infoText">Personnes dans le ménage :</p>
        </div>
        <p *ngFor="let menage of formData.details.id1_data; let i = index" class="dataCollected1">
          <u style="color: #fe711a;">Ménage {{i}}</u><br />
          M1a - Nom: <label style="text-transform: uppercase;">{{menage.nom}}</label> <br />
          M1b - Prénom(s): <label style="text-transform: capitalize;">{{menage.prenom}}</label><br />
          M1c - Surnom: <label style="text-transform: capitalize;">{{menage.surnom}}</label><br />
          M2 - Statut de résidence: {{menage.resstat}}<br />
          M3 - Sexe: {{menage.sex}}<br />
          M4 - Age: {{menage.age}}<br />
          M5 - Copie d'acte de naissance: {{menage.cpan}}<br />
          M6a - Pour les +18 ans, à un CIN: {{menage.cin?.statue}} <br />
          M6b - cin: {{menage.cin?.value}}<br />
          M6c - Identifiant unique: {{menage.enfu}} / M6d - {{menage.idenfu}}<br />
          M7 - Lien avec le chef de menage: {{menage.lienCDM}}<br />
          M8 - statut matrimonial: {{menage.statueM}}<br />
          M9a - Mère biologique dans ce ménage: {{menage.menageMere}}/ M9b - {{menage.menageMereId}}<br />
          M10 - Orphelin: {{menage.orphan}}<br />
          Pour les moin de 15 ans: <br />
          M10 - Qui dans le ménage prend soin de cet enfant: {{menage.childMenage}}<br />
          Pour les femmes et jeunes filles: <br />
          M11 - Enceintes: {{menage.pregnante}}<br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">9</p>
          <p class="infoText">Education :</p>
        </div>
        <p class="dataCollected1">
          M13 - Avez-vous au moins fait l'école primaire :
          <!--- io @ilany ny valiny--> {{formData.details.educres_data.primary}}<br />
          M14 - La dernière classe suivie (Nombre d'années d'études réussies):
          <!--- io @ilany ny valiny--> {{formData.details.educres_data.nombredanner}}<br />
          M15 - Allez vous encore à l'école :
          <!--- io @ilany ny valiny--> {{formData.details.educres_data.goscool}}<br />
          M16a - Savez vous lire le malagasy :
          <!--- io @ilany ny valiny--> {{formData.details.educres_data.malagasy}}<br />
          M16b - Savez vous écrire le malagasy? :
          <!--- io @ilany ny valiny--> {{formData.details.educres_data.malagasyecrit}}<br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">10</p>
          <p class="infoText">Résidence :</p>
        </div>
        <p class="dataCollected1">
          M17a - Etes vous résidant dans ce fokontany depuis plus de 6 mois :
          <!--- io @ilany ny valiny--> {{formData.details.educres_data.sixmouth}}<br />
          M17b - Si depuis plus de 6 mois, depuis combien d'années :
          <!--- io @ilany ny valiny--> {{formData.details.educres_data.annee}}ans<br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">11</p>
          <p class="infoText">M19 - Emploi principal :</p>
        </div>
        <p class="dataCollected1">
          {{formData.details.ep_data.principa_empl}}
          <!--- io @ilany ny valiny--><br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">12</p>
          <p class="infoText">Handicap :</p>
        </div>
        <p class="dataCollected1">
          M20a - Des difficultés à voir :
          <!--- io @ilany ny valiny--> {{formData.details.hmc_data.lunette}}<br />
          M20b - Des difficultés à entendre :
          <!--- io @ilany ny valiny--> {{formData.details.hmc_data.audition}}<br />
          M20c - Des difficultés à marcher ou à monter les escaliers :
          <!--- io @ilany ny valiny--> {{formData.details.hmc_data.walking}}<br />
          M20d - Des difficultés à vous souvenir ou à vous concentrer :
          <!--- io @ilany ny valiny--> {{formData.details.hmc_data.brain}}<br />
          M20e - Des difficultés à prendre soin de vous-même, à vous laver entièrement ou à vous habiller seul :
          <!--- io @ilany ny valiny--> {{formData.details.hmc_data.selfcare}}<br />
          M20f - Des difficultés à communiquer, à comprendre ou à vous faire comprendre :
          <!--- io @ilany ny valiny--> {{formData.details.hmc_data.maternallng}}<br />
          M20g - Des difficultés à prendre ou à porter des choses :
          <!--- io @ilany ny valiny--> {{formData.details.hmc_data.caring}}<br />
        </p>

        <div class="rowStyle1">
          <p class="numberTexte">13</p>
          <p class="infoText">Maladie :</p>
        </div>
        <p class="dataCollected1">
          <!--- Si oui--><span *ngIf="formData.details.hmc_data.chronicdeaseas === 'Oui'">M20h - J'ai déjà bénéficier
            d'un dépistage pour des maladies chroniques (VIH, tuberculose, etc)</span> <br />
          <!--- Si oui--><span *ngIf="formData.details.hmc_data.chronicdeaseasauth === 'Oui'">M20i - Je souffre d'une
            maladie chronique / Je suis un traitement de longue durée </span> <br />
          <!--- Si oui--><span *ngIf="formData.details.hmc_data.diffic === 'Oui'">M20j - Les difficultés physiques
            indiquées aux questions M20a à M20i ont occasionnées une perte de
            revenu</span><br />
        </p>

      </div>
    </div>
  </div>

  <app-header class="header">
  </app-header>



</div>


<!-- MOBILE -->


<div class="mobile-root" *ngIf="bpObs === 'XS'">
  <div class="mob-header" style="height: 64px !important;">
    <div class="profile_picture_mobile"
      [style]="'background-image: url(\'$\');'.replace('$',getPrifilePicture(formData?.pict))">
      <!-- <img class="profileImage" [src]="formData?.pict"> -->
    </div>
    <div class="mobheadertextcontainer">
      <div class="textElisplis" style="display: flex; margin-top: 10px;">
        <p style="text-transform: uppercase; margin-right: 10px; margin: 0;">{{formData?.nom}}</p> 
        <p style="text-transform: capitalize; margin: 0;">{{formData?.prenom}}</p>
      </div>
      <!-- <p style="font-size: 12px !important; font-weight: normal !important;">{{formData?.details?.id_data?.surnom}}</p> -->
      <p
        style="text-align: center; width: 100%; color: white; font-size: 16px; font-weight: 500; background-color: rgba(0, 0, 0, 0.158);">
        PMT:
        {{getPMT(formData?.barref)}}</p>
    </div>
  </div>
  <div class="mob-header-spacer" style="min-height: 135px !important;"></div>
  <mat-progress-bar *ngIf="isLoading" mode="query" style="position: absolute; left: 0; z-index: 25"></mat-progress-bar>
  <div class="detail-content-mob" *ngIf="!isLoading && formData">
    <div class="infoGeo" style="margin-bottom: 16px;">

      <div class="rowStyle">
        <mat-icon class="iconStyle">person</mat-icon>
        <p class="infoStyle">CIN N° :</p>
      </div>
      <p class="dataCollected">
        {{formData?.details?.id_data?.cin}}<br />
        <label style="color: #fe711a;">du</label> {{formData?.details?.id_data?.datedelcin}}
      </p>

      <div class="rowStyle">
        <mat-icon class="iconStyle">home</mat-icon>
        <p class="infoStyle">Adresse :</p>
      </div>
      <p class="dataCollected" style="text-transform: uppercase;">{{formData?.details?.ig_data?.lotis}}</p>

      <div class="rowStyle">
        <mat-icon class="iconStyle">place</mat-icon>
        <p class="infoStyle">Localisation :</p>
      </div>
      <p class="dataCollected">{{
        formData?.details?.ig_data?.fokontany.lib + "-" +
        formData?.details?.ig_data?.commune.lib + "-" +
        formData?.details?.ig_data?.district.lib + "-" +
        formData?.details?.ig_data?.region.lib + "-" +
        formData?.details?.ig_data?.province.lib
        }}<br /></p>

      <div class="rowStyle">
        <mat-icon class="iconStyle">call</mat-icon>
        <p class="infoStyle">Numéro :</p>
      </div>
      <p class="dataCollected">+261 {{formData?.details?.ig_data?.numero}}</p>

    </div>
    <div class="infoMenage" style="margin-bottom: 10px;">
      <div class="rowStyle1"> 
        <p class="numberTexte">1</p>
        <p class="infoText">Habitation :</p>
      </div>
      <p class="dataCollected1">
        H0 - Type de maison :
        <!--- io @ilany ny valiny-->{{formData.details.ch_data.housetype}}<br />
        H1 - Mur extérieur :
        <!--- io @ilany ny valiny-->{{formData.details.ch_data.extwall?.lib}}<br />
        H2 - Plafond :
        <!--- io @ilany ny valiny-->{{formData.details.ch_data.plaf?.lib}}<br />
        H3 - Nombre de pièces :
        <!--- io @ilany ny valiny--> {{formData.details.ch_data.npiech}} dont {{formData.details.ch_data.npiech}}
        habitée(s)<br />
        H4 - Surface habitée :<br />
        <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">P1 :
          {{formData.details.ch_data.p1}}m²</label><br />
        <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">P2 :
          {{formData.details.ch_data.p2}}m²</label><br />
        <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">P3 :
          {{formData.details.ch_data.p3}}m²</label><br />
        <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">P4 :
          {{formData.details.ch_data.p4}}m²</label><br />
        H5 - Plancher :
        <!--- io @ilany ny valiny-->{{formData.details.ch_data.plancer?.lib}}<br />
        H6 - Electricité :
        <!--- io @ilany ny valiny-->{{formData.details.ch_data.elect?.lib}}<br />
        H7 - Eau :
        <!--- io @ilany ny valiny-->{{formData.details.ch_data.eau?.lib}}<br />
        H8 - Toilette :
        <!--- io @ilany ny valiny-->{{formData.details.ch_data.toilet?.lib}}<br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">2</p>
        <p class="infoText">Biens possédés :</p>
      </div>
      <p class="dataCollected1">
        AP01 - Chaise (avec pied et dossier) :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Chaise (avec pied et dossier)'].qte}}<br />
        AP02 - Table (avec pied, bien droit) :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Table (avec pied, bien droit)'].qte}}<br />
        AP03 - Natte :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Natte'].qte}}<br />
        AP04 - Lampe pétrole :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Lampe pétrole'].qte}}<br />
        AP05 - Poste radio :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Poste radio'].qte}}<br />
        AP06 - Radio avec cassette, cd, mp3.. :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Radio avec cassette, cd, mp3..'].qte}}<br />
        AP07 - Téléviseur :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Téléviseur'].qte}}<br />
        AP08 - Lecteur CD DVD :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Lecteur CD DVD'].qte}}<br />
        AP09 - Bicyclette :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Bicyclette'].qte}}<br />
        AP10 - Puits :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Puits'].qte}}<br />
        AP11 - Irrigation :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Irrigation'].qte}}<br />
        AP12 - Téléphone portable :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Téléphone portable'].qte}}<br />
        AP13 - Charrue (traction animale) :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Charrue (traction animale)'].qte}}<br />
        AP14 - Charrette (traction animale) :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Charrette (traction animale)'].qte}}<br />
        AP15 - Herse (traction animale) :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Herse (traction animale)'].qte}}<br />
        AP16 - Bèche :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Bèche'].qte}}<br />
        AP17 - Stockage :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Stockage'].qte}}<br />
        AP18 - Champ ou rizière (non métayage) :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Champ ou rizière (non métayage)'].qte}}<br />
        AP19 - Zébu :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Zébu'].qte}}<br />
        AP20 - Porc :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Porc'].qte}}<br />
        AP21 - Chèvre/mouton :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Chèvre/mouton'].qte}}<br />
        AP22 - Poulet gasy :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Poulet gasy'].qte}}<br />
        AP23 - Rûche :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Rûche'].qte}}<br />
        AP24 - Matériel de pêche: pirogue, filet :
        <!--- io @ilany ny valiny--> {{formData.details.ap_data['Matériel de pêche: pirogue, filet'].qte}}<br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">3</p>
        <p class="infoText">Sources de revenus :</p>
      </div>
      <p class="dataCollected1">
        SR01 - Salaire de la fonction publique :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Salaire de la fonction publique']}}<br />
        SR02 - Salaire du secteur privé :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Salaire du secteur privé']}}<br />
        SR03 - Autre emploi :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Autre emploi']}}<br />
        SR04 - Revenus agricoles :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Revenus agricoles']}}<br />
        SR05 - Revenus d'artisanat :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr["Revenus d'artisanat"]}}<br />
        SR06 - Revenus du petit commerce :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Revenus du petit commerce']}}<br />
        SR07 - Transfert social :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Transfert social']}}<br />
        SR08 - Envoi de fonds :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Envoi de fonds']}}<br />
        SR09 - Don :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.sr['Don']}}<br />
        SR10 - Quantité de céréales moyennes récoltées en année de référence :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.qcmrar}}sacs (sacs de 50kg)<br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">4</p>
        <p class="infoText">Possession de terres :</p>
      </div>
      <p class="dataCollected1">
        PT01 - Superficie possédée :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.pt['Superficie possédée']}}Ha.<br />
        PT02 - Superficie louée ou empruntée :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.pt['Superficie louée ou empruntée']}}Ha.<br />
        PT03 - Superficie cultivée :
        <!--- io @ilany ny valiny--> {{formData.details.srpt_data.pt['Superficie cultivée']}}Ha.<br />
        <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">PT04 - Type de culture 1 :
          {{formData.details.srpt_data.tc1.type}} {{formData.details.srpt_data.tc1.qte}}Ha.</label><br />
        <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">PT05 - Type de culture 2 :
          {{formData.details.srpt_data.tc2.type}} {{formData.details.srpt_data.tc2.qte}}Ha.</label><br />
        <!--- io @ilany ny valiny--> <label style="margin-left: 15px;">PT06 - Type de culture 3 :
          {{formData.details.srpt_data.tc3.type}} {{formData.details.srpt_data.tc3.qte}}Ha.</label><br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">5</p>
        <p class="infoText">Dépenses liées à l’agriculture :</p>
      </div>
      <p class="dataCollected1">
        <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile>Types de dépenses</mat-grid-tile>
          <mat-grid-tile>Montant</mat-grid-tile>
          <mat-grid-tile>Fournisseur</mat-grid-tile>

          <mat-grid-tile>DA01 - Semences</mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Semences'].mantant}}Ar</mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Semences'].fourniseur}}</mat-grid-tile>

          <mat-grid-tile>DA02 - Main d’œuvre</mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main["Main d’œuvre (0 si main d'œuvre gratuit)"].mantant}}Ar
          </mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main["Main d’œuvre (0 si main d'œuvre gratuit)"].fourniseur}}
          </mat-grid-tile>

          <mat-grid-tile>DA03 - Pesticides</mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Pesticides'].mantant}}Ar</mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Pesticides'].fourniseur}}</mat-grid-tile>

          <mat-grid-tile>DA04 - Fertilisants</mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Fertilisants'].mantant}}Ar</mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Fertilisants'].fourniseur}}</mat-grid-tile>

          <mat-grid-tile>DA05 - Achat de matériel et équipements</mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Achat de matériel et équipements'].mantant}}Ar
          </mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Achat de matériel et équipements'].fourniseur}}
          </mat-grid-tile>

          <mat-grid-tile>DA06 - Location de matériel et équipements</mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Location de matériel et équipements'].mantant}}Ar
          </mat-grid-tile>
          <mat-grid-tile>{{formData.details.da_data.main['Location de matériel et équipements'].fourniseur}}
          </mat-grid-tile>

          <ng-container *ngFor="let autre of formData.details.da_data.autre; let i = index">
            <mat-grid-tile>{{"DA" + ((i+5)< 9 ? ("0"+(i+6)) : i+6) + " - " +autre.name}}</mat-grid-tile>
                <mat-grid-tile>{{autre.mantant}}Ar</mat-grid-tile>
                <mat-grid-tile>{{autre.fourniseur}}</mat-grid-tile>
          </ng-container>

        </mat-grid-list>
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">6</p>
        <p class="infoText">Accès au crédit :</p>
      </div>
      <p class="dataCollected1">
        <!--- io @ilany ny valiny-->AA01 - Affiliés à une association/groupement professionnel ? :
        {{all_text._fromBoolean(formData.details.acaa_data.aac)}}<br />
        <span *ngIf="formData.details.acaa_data.aac">{{"AA02 -
          "+formData.details.acaa_data.aacname.AA02}}</span><br />
        <span *ngIf="formData.details.acaa_data.aac">{{"AA03 -
          "+formData.details.acaa_data.aacname.AA03}}</span><br />
        <span *ngIf="formData.details.acaa_data.aac">{{"AA04 -
          "+formData.details.acaa_data.aacname.AA04}}</span><br />
        <!--- io @ilany ny valiny-->AA05 - Affiliés à une tontine ou AVEC?:
        {{all_text._fromBoolean(formData.details.acaa_data.afil)}}<br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">7</p>
        <p class="infoText">Affiliation aux associations :</p>
      </div>
      <p class="dataCollected1">
        <!--- SI OUI-->AC01 - Affiliés à une IMF [O/N] ?: {{all_text._fromBoolean(formData.details.acaa_data.imf)}}
        <br />
        <span *ngIf="formData.details.acaa_data.imf">
          AC02 - {{formData.details.acaa_data.imfname}}/ AC03 - Montant emprunté:
          {{formData.details.acaa_data.imfmontant}} / AC04 - Proportion affectée à l’agriculture:
          {{formData.details.acaa_data.imfprop}}
        </span><br />
        <span *ngIf="!formData.details.acaa_data.imf">
          AC05 - Motif: {{formData.details.acaa_data.notimf}}
        </span> <br />
        <!--- SI NON-->AC06 - Autre sources de crédits:<br />
        {{formData.details.acaa_data.authercred}}<br />
        AC07 - Commerçants?: {{formData.details.acaa_data.commercant}}
        <!--- SI AUTRE-->AC08 - Autres: <br /> {{formData.details.acaa_data.autre}}
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">8</p>
        <p class="infoText">Personnes dans le ménage :</p>
      </div>
      <p *ngFor="let menage of formData.details.id1_data; let i = index" class="dataCollected1">
        <u style="color: #fe711a;">Ménage {{i}}</u><br />
        M1a - Nom: <label style="text-transform: uppercase;">{{menage.nom}}</label> <br />
        M1b - Prénom(s): <label style="text-transform: capitalize;">{{menage.prenom}}</label><br />
        M1c - Surnom: <label style="text-transform: capitalize;">{{menage.surnom}}</label><br />
        M2 - Statut de résidence: {{menage.resstat}}<br />
        M3 - Sexe: {{menage.sex}}<br />
        M4 - Age: {{menage.age}}<br />
        M5 - Copie d'acte de naissance: {{menage.cpan}}<br />
        M6a - Pour les +18 ans, à un CIN: {{menage.cin?.statue}} <br />
        M6b - cin: {{menage.cin?.value}}<br />
        M6c - Identifiant unique: {{menage.enfu}} / M6d - {{menage.idenfu}}<br />
        M7 - Lien avec le chef de menage: {{menage.lienCDM}}<br />
        M8 - statut matrimonial: {{menage.statueM}}<br />
        M9a - Mère biologique dans ce ménage: {{menage.menageMere}}/ M9b - {{menage.menageMereId}}<br />
        M10 - Orphelin: {{menage.orphan}}<br />
        Pour les moin de 15 ans: <br />
        M10 - Qui dans le ménage prend soin de cet enfant: {{menage.childMenage}}<br />
        Pour les femmes et jeunes filles: <br />
        M11 - Enceintes: {{menage.pregnante}}<br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">9</p>
        <p class="infoText">Education :</p>
      </div>
      <p class="dataCollected1">
        M13 - Avez-vous au moins fait l'école primaire :
        <!--- io @ilany ny valiny--> {{formData.details.educres_data.primary}}<br />
        M14 - La dernière classe suivie (Nombre d'années d'études réussies):
        <!--- io @ilany ny valiny--> {{formData.details.educres_data.nombredanner}}<br />
        M15 - Allez vous encore à l'école :
        <!--- io @ilany ny valiny--> {{formData.details.educres_data.goscool}}<br />
        M16a - Savez vous lire le malagasy :
        <!--- io @ilany ny valiny--> {{formData.details.educres_data.malagasy}}<br />
        M16b - Savez vous écrire le malagasy? :
        <!--- io @ilany ny valiny--> {{formData.details.educres_data.malagasyecrit}}<br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">10</p>
        <p class="infoText">Résidence :</p>
      </div>
      <p class="dataCollected1">
        M17a - Etes vous résidant dans ce fokontany depuis plus de 6 mois :
        <!--- io @ilany ny valiny--> {{formData.details.educres_data.sixmouth}}<br />
        M17b - Si depuis plus de 6 mois, depuis combien d'années :
        <!--- io @ilany ny valiny--> {{formData.details.educres_data.annee}}ans<br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">11</p>
        <p class="infoText">M19 - Emploi principal :</p>
      </div>
      <p class="dataCollected1">
        {{formData.details.ep_data.principa_empl}}
        <!--- io @ilany ny valiny--><br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">12</p>
        <p class="infoText">Handicap :</p>
      </div>
      <p class="dataCollected1">
        M20a - Des difficultés à voir :
        <!--- io @ilany ny valiny--> {{formData.details.hmc_data.lunette}}<br />
        M20b - Des difficultés à entendre :
        <!--- io @ilany ny valiny--> {{formData.details.hmc_data.audition}}<br />
        M20c - Des difficultés à marcher ou à monter les escaliers :
        <!--- io @ilany ny valiny--> {{formData.details.hmc_data.walking}}<br />
        M20d - Des difficultés à vous souvenir ou à vous concentrer :
        <!--- io @ilany ny valiny--> {{formData.details.hmc_data.brain}}<br />
        M20e - Des difficultés à prendre soin de vous-même, à vous laver entièrement ou à vous habiller seul :
        <!--- io @ilany ny valiny--> {{formData.details.hmc_data.selfcare}}<br />
        M20f - Des difficultés à communiquer, à comprendre ou à vous faire comprendre :
        <!--- io @ilany ny valiny--> {{formData.details.hmc_data.maternallng}}<br />
        M20g - Des difficultés à prendre ou à porter des choses :
        <!--- io @ilany ny valiny--> {{formData.details.hmc_data.caring}}<br />
      </p>

      <div class="rowStyle1">
        <p class="numberTexte">13</p>
        <p class="infoText">Maladie :</p>
      </div>
      <p class="dataCollected1">
        <!--- Si oui--><span *ngIf="formData.details.hmc_data.chronicdeaseas === 'Oui'">M20h - J'ai déjà bénéficier
          d'un dépistage pour des maladies chroniques (VIH, tuberculose, etc)</span> <br />
        <!--- Si oui--><span *ngIf="formData.details.hmc_data.chronicdeaseasauth === 'Oui'">M20i - Je souffre d'une
          maladie chronique / Je suis un traitement de longue durée </span> <br />
        <!--- Si oui--><span *ngIf="formData.details.hmc_data.diffic === 'Oui'">M20j - Les difficultés physiques
          indiquées aux questions M20a à M20i ont occasionnées une perte de
          revenu</span><br />
      </p>

    </div>
  </div>
</div>
