.root {
    width: 100%;
    height: calc(100vh - 65px);
}

.profile_picture{
  border-radius: 150px;
  position: relative;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
}
.profile_picture_mobile{
  border-radius: 100px;
  position: relative;
  border-color: white;
  border-width: 8px;
  border-style: solid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 120px;
  min-height: 120px;
  background-color: white;
  top: 20px;
}

.columnContainer{
    display: flex;
    flex: 1;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.rowContainer{
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
}

.infoGeo{
    display: flex;
    flex: 1;
    height: fit-content;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px grey;
}

.infoMenage{
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
}

.photoMenage{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}


.profileImage{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    object-fit:contain;
}

.allName{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #fe711a;
    border: 2px solid #fe711a;
    border-radius: 15px;
    margin-top: -215px;
    margin-bottom: 15px;
}

.nameF{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin: auto;
    margin-top: 235px;
    margin-bottom: 0;
    color: white;
}

.nameS{
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-top: 5px;
    text-transform: capitalize;
}

.rowStyle{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.rowStyle1{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    background-color: #fe711a;
    min-width: 250px;
    max-width: fit-content;
    height: 32px;
    /* padding: 10px; */
    margin-top: 15px;
    border-radius: 0px 10px 10px 0px;
    margin-left: -10px;
    align-items: center;


}

.iconStyle{
    color: #fe711a;
    margin-bottom: 0;
}
.infoStyle{
    margin-left: 10px;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #fe711a;
    margin-bottom: 0;
}

.dataCollected{
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
}

.dataCollected1{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 15px;
}

.numberTexte{
    display: flex;
    background-color: white;
    color: #fe711a;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 7px !important;
    padding: 5px;
    font-size: 17px;
    border-radius: 3px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 10px;

}

.infoText{
    width: auto;
    height: 20px;
    text-align: center;
    font-size: 17px;
    color: white;    
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 10px;
    padding-top: 2px !important;
    margin-right: 10px;
}

.header{
    width: 100%;
    top: 0 !important;
    position: fixed !important;
    background-color: grey;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #fe711a;
    border-radius: 50px;
  }

.photoMenageOnScroll{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    margin-left: 10%;
}

.mobile-root {
    width: 100%;
    height: 100vh;
}

.columnContainerMob{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.photoMenageMob{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allNameMob{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100px;
    margin-top: -25px;
    margin-bottom: 15px;
}

.columnContainerMob1{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.infoGeoMob{
    display: flex;
    flex: 1;
    height: fit-content;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.infoMenageMob{
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-right: 5px;
    border-radius: 10px;
}

.rowStyle1Mob{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    background-color: #fe711a;
    min-width: 200px;
    max-width: fit-content;
    height: 32px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 0px 10px 10px 0px;

}
.detail-content-mob{
  width: 100%;
  height: calc(100vh - 65px);
}
.mobheadertextcontainer{
  display: flex;
  flex-direction:column;
}
